* {
	padding: 0;
	margin: 0;
}

body.body {
	background:url("../images/bg.png") repeat-y;
	background-size:100%;
	background-position:center top;
	min-width:320px;
}

.ui-body-c{background:none;}

.ui-bar-me {
	height:42px;
	background:#E64C65;
	line-height:42px;
	overflow:hidden;
	color:#FFFFFF;
	
}


.header_b .back{
	width: 32px;
	margin-left: 10px;
	margin-top: 5px;
	cursor: pointer;
	height: 32px;
	background:#E64C65;
	background:url("../images/back_icon.png") no-repeat 0 0;
	background-size:32px 32px;
	display:inline-block;
}


.fb{font-weight: bold;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}

.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f24{font-size:24px;}


.ui-bar-a {text-shadow :0 -1px 1px #E64C65;}
.box_flex1{ -webkit-box-flex: 1;-moz-box-flex:1; }
.box_flex2{ -webkit-box-flex: 2;-moz-box-flex:2; }
.box_flex3{ -webkit-box-flex: 3;-moz-box-flex:3; }
/*  帮助页面   */

/*#help {
	display: none;
	position: absolute;
	background: url("../img/logo.png") no-repeat;
	background-size:100%;
	background-position:center top;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}*/


.help_des {
	padding: 15px;
	border: 1px solid #d4d4d4;
	color:#666;
	background-color:#FFFFFF;
	border-bottom:none;
	font-size: 20px;
}

#help .help_des:last-child{
	border: 1px solid #d4d4d4;
}

.help_des h1 {
	font-size: 20px;
	font-weight: bold;
	color:#333;
	line-height:100%;
	margin-bottom: 15px;
}


#wrapper_index {
  width:230px;
  height:100%;
  float:left;
  position:relative;
  z-index:1;
  overflow:hidden;
}

#wrapper_index .scroller {
  height:100%;
  float:left;
  padding:0;
}

#wrapper_index ul {
  list-style:none;
  display:block;
  float:left;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  text-align:left;
}

#wrapper_index li {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
  display:block; 
  float:left;
  width:100%;
  max-height: 360px;
  text-align: center;
  font-size:48px;
}
#wrapper_index li img {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
  float:left;
  width: 115px;
}
.portrait img{
	width:40px;
	border-radius:40px;
	border:2px solid #C8C7BC;
}
.inform_num{
	position: absolute;
	top:-5px;
	left: 30px;
	width: 15px;
	height: 15px;
	line-height:15px;
	color:#fff;
	border-radius:15px;
	background-color:#e64c65;
}

/* 注册  登录 选择界面   */
.vertical {
	display: -moz-box;
    display: -webkit-box;
    display: box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient:vertical;
    height:100%;
    width:100%;
    position: relative;
}

.horizontal {
	display: -moz-box;
    display: -webkit-box;
    display: box;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    box-orient:horizontal;
    position: relative;
    height:100%;
    width:100%;
}

.header_a{
	width: 80px;
}
.header_b{
	width: 80px;
}

.info_list {
	margin: 0 0 15px;
	line-height: 40px;
	height: 40px;
}

.username,.password {
	height: 50px;
	vertical-align: middle;
	color: #999999;
	background-color:#FFFFFF;
	border: 0px solid;
	width: 100%;
	imeMode:disable;
	font-size:18px;
	
}
input,button,select,textarea{outline:none}
textarea,input{ 
	outline:none;
    -webkit-appearance: none; 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-modify: read-write-plaintext-only; 
}

.username_icon{
	width: 80px;
	background:url("../images/regedit.png") no-repeat center center;
	background-size:22px 22px;
	background-color:#CCCCCC;
}

.password_icon{
	width: 80px;
	background:url("../images/login.png") no-repeat center center;
	background-size:22px 22px;
	background-color:#CCCCCC;
}

.br_3 {border-radius: 3px;}
.br_5 {border-radius: 5px;}
.login {background-color: #E64C65; color:#FFFFFF;}
.regedit {background-color: #75b953;color:#FFFFFF;}
.open_list{background-color:#FFF;}

.ui-link.col1,.ui-link.col1:active,.ui-link.col1:after,.ui-link.col1:link,.ui-link.col1:visited  {
	color:#fff;
	text-decoration:none;
}
.ui-body-c{
	text-shadow: 0 0px 0 #FFFFFF;
}

.qq_show {
	background: url('../images/qq.png') no-repeat 10px 10px;
	background-size: 20px 20px;
}


#help {
	background-color:#F6F6F6;
}

#login .ui-content{
	  padding-left: 20px;
	  padding-right: 20px;
}

.padl_15{padding-left: 15px;}
.padr_15{padding-right: 15px;}
.pad15{padding:15px;}

.bg{background-color:#F6F6F6;}
.bg1{background-color:#FFF;}
.bg2{background-color:#333333;}

.col1{color: #fff;}
.col2{color: #e74c3c;}
.col3{color:#9f9f9f;}
.col4{color:#333333;}
.col5{color:#555555;}

.line_top {border-top:1px solid #D4D4D4}
.show_on{display:block;width: 80px;height: 40px;border-bottom: 2px solid #75B953; margin: 0 auto;}

/* 商品详细  */
#item_detail {background-color:#F6F6F6;}
#item_detail .item_p{height:45px;}

#item_detail .item_p_b{width: 65px;}
#item_detail .item_p_m{}
#item_detail .item_p_a{width:100px;}
#item_detail .item_p_a div{
	width: 95px;height: 40px;line-height: 40px;float: right
}
#item_detail .detail{
	border-top: 1px solid #D4D4D4; padding: 20px 15px;
	
}
#item_detail  .content{
	
}
.blank0{width: 100%;height: 0;clear: both;}


/* 二级分类  */

#wrapper_second_lv{
  position:relative;
  z-index:1;
  overflow:hidden;
}

#wrapper_second_lv .scroller {
	width: 3000px;
}

#wrapper_second_lv ul {
  list-style:none;
  display:block;
  float:left;
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  text-align:left;
}

#wrapper_second_lv li {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
  display:block; 
  float:left;
  width:640px;
  max-height: 360px;
  text-align: center;
  font-size:48px;
}

#wrapper_second_lv li .horizontal{margin-bottom: 15px;}
#wrapper_second_lv li .box_flex1 {
	
	border: 1px solid #D4D4D4;
	background:url("../data/type.jpg") no-repeat 10px center;
	background-color: #FFFFFF;
	background-size:25px;
}


