<div data-role="page" id="about"  class="bg">
	<div data-role="header"  data-theme="me">
		<div class="horizontal">
			<div class="header_b">
				<a class="back" href="javascript:void(0)" ></a>
			</div>
			<div class="tc header_m box_flex1">
				<h1>关于</h1>
			</div>
			<div class="header_a"></div>
		</div>
	</div>
	<div data-role="content" class="tl">
		<div class="help_des f18">
			<h1 id="current_version"></h1>
			<h1> 版权秒米团队所有 </h1>
		</div>
	</div>
	<script type="text/javascript">
		$('#current_version').val('当前版本'+Version);
	</script>
</div>