<div data-role="page" id="accounts">
	<div style="color:#fff;height: 100%;width: 100%;position:absolute;top:0;left: 0;" class="tc fb f24 me_tap"  me_event="gopage" me_data='index' >
		<img src="/static/images/logo.png" width="250" style="margin-top: 130px;" />
	</div>
	<div style="position: absolute;left: 0;bottom: 0;z-index: 5;width: 100%;" >
		<div style="height: 112px;line-height: 112px;" class="horizontal">
			<div style="background-color: red;color:#fff; width: 50px;"  class="tc fb box_flex1  f18 me_tap" me_event="gopage" me_data='login' >
				登录
			</div>
			<div style="background-color:#fff;color: red; width: 50px;" class="tc fb box_flex1 f18 me_tap" me_event="gopage" me_data='regedit' >
				注册
			</div>
		</div>
    </div>
</div>