<div data-role="page" id="bijia_list"  class="bg">
	<div data-role="header"  data-theme="me">
		<div class="horizontal">
			<div class="header_b">
				<a class="back" href="javascript:void(0)" ></a>
			</div>
			<div class="tc header_m box_flex1">
				<h1>比价</h1>
			</div>
			<div class="header_a"></div>
		</div>
	</div>
	<div style="height: 40px;line-height: 40px;" class="horizontal col4 f18 bg1 fb tc">
		<div style="width: 50%;" class="box_flex1">
			{% if sort_type == 0 %}
			<span class="show_on">最能砍</span>
			{% else %}
			<span class="me_tap" me_event="gopage" me_data="bijia">最能砍</span>
			{% endif %}
		</div>
		<div style="width: 50%;" class="box_flex1">
			{% if sort_type == 1 %}
			<span class="show_on">最能买</span>
			{% else %}
			<span class="me_tap" me_event="gopage" me_data="bijia?sort_type=1" >最能买</span>
			{% endif %}
		</div>
	</div>
	<div id="bijia_list_wrapper">
		<div class="scroller">
		<ul class="thelist item_list">
			{% for showcase in showcases%}
			<li class="item horizontal me_tap" me_event="gopage" me_data='bijia_detail/{{ showcase.id }}'  >
				<div style="width: 80px;" class="pad10">
					{%  if showcase.requirment.product %}
					<img src="{{ showcase.requirment.product.icon_smaill }}" width="70" height="70"/>
					{% else %}
						<img src="{{ showcase.requirment.subcataog.icon_large }}" width="70" height="70"/>
					{% endif %}
				</div>
				<div class="box_flex1 pad10">
					<div class="fb">{{ showcase.requirment.descrip }}</div>
					<div class="blank10"></div>
					<p class="col6">商家:{{ showcase.requirment.merchant.name }}</p>
					<div  class="blank10"></div>
					<p class="col6">交易价格:<span class="fb">{{ showcase.get_wanna_fee() }}</spa>元</p>
					<div  class="blank10"></div>
				</div>
			</li>
			{%  endfor %}
		</div>
	</div>
	<div class="footer" style="overflow:hidden;background-color:#FFFFFF;text-align:center;">
		<div class="me_tap" me_event="gopage" me_data='share_requirment'  style="line-height: 50px;width: 100px;margin: 0 auto;">
			<img src="/static/images/share.png" class="fl" /><span class="fl f24">发布</span>
			<div class="blank0"></div>
		</div>
	</div>
</div>