<div data-role="page" id="catalog_list"  class="bg">
	<div data-role="header"  data-theme="me">
		<div class="horizontal">
			<div class="header_b">
				<a class="back" href="javascript:void(0)" ></a>
			</div>
			<div class="tc header_m box_flex1">
				<h1>服务类</h1>
			</div>
			<div class="header_a"></div>
		</div>
	</div>
	<div id="">
		<div class="scroller">
		<ul class="thelist item_list">
			<div id="wrapper_index" style="margin: 10px auto 0 auto; width: 230px;float:none;">
				  <div class="scroller">
				    <ul class="thelist">
				    	{% for catalogs in catalog_list %}
					     <li style="position:relative;overflow:hidden;">
				      	{% for catalog in catalogs %}
				      		<div class="catalog fl" style="position:relative;overflow:hidden; width: 115px;">
				      			{% if my_fee %}
				      			<img src="{{ catalog.icon_smaill }}" width="118" height="90" class="me_tap fl" me_event="gopage" me_data="catalog/{{ catalog.id }}/{{ my_fee }}" />
				      			<span style="position:absolute;bottom: 0;right: 10px;color:#666666;" class="f16">{{ catalog.ucount }}条</span> 
				      			{% else %}
				      			<img src="{{ catalog.icon_smaill }}" width="118" height="90" class="me_tap fl" me_event="gopage" me_data="catalog/{{ catalog.id }}/" />
				      			{% endif %}
				      		</div>
				      	{% endfor %}
					     </li>
				      {% endfor %}
				    </ul>
				    <div class="blank0"></div>
				  </div>
			</div>
		</div>
	</div>
</div>