<div data-role="page" id="help">
	<div data-role="header"  data-theme="me">
		<div class="horizontal">
			<div class="header_b">
				<a class="back" href="javascript:void(0)" ></a>
			</div>
			<div class="tc header_m box_flex1">
				<h1>帮助</h1>
			</div>
			<div class="header_a"></div>
		</div>
	</div>
	<div data-role="content" class="tl">
		<div class="help_des f18">
			<h1> 什么是信用基金 </h1>
			<div>
				用基金是根据用户级别制定的福利回馈。具体如下：非会员无信用基金，会员每次成功交易都可获得一定比例的信用基金。
				会员信用基金比例：一星会员，消费金额的5%，二星会员，消费金额的6%，三星会员消费金额的7%，4星会员消费金额的8%，5星会员消费金额的9%,钻石会员消费金额的10%。
			</div>
		</div>
		<div class="help_des f18">
			<h1> 信用基金的用途 </h1>
			<div>
				信用基金可用于购买平台内所销售的任意商品，但不可用于交易时的差额补充。即不可用于现金+信用基金的购买方式。
			</div>
		</div>
	</div>
</div>