<div data-role="page" id="index">
	<div style="padding: 15px 50px 15px 15px;">
		<div style="width: 230px;overflow:hidden; margin: 0 auto;">
			<div style="margin: 10px 0;height: 55px;width: 230px;line-height: 55px; background-color:#e64c65;" me_data="catalog_search" me_event="gopage" class="login box_flex3 tc br_5 f18 me_tap">
				 能买撒东西
			</div>
			<div style="margin: 10px 0;height: 55px;width: 230px;line-height: 55px; background-color:#e64c65;" me_data="catalog_list" me_event="gopage" class="login box_flex3 tc br_5 f18 me_tap">
				我想买东西
			</div>
			{% if ad %}
			<img src="{{ ad.img }}" id="myImage" class="me_tap"  me_event="gopage" me_data='item_detail/{{ ad.product_id }}'  style="width:230px;height: 115px;" />
			<div class="tc bg2 f18 col1" style="height: 40px;line-height: 40px; width: 230px;">今日推荐</div>
			{% endif %}
			<div id="wrapper_index" style="height: 360px;">
				  <div class="scroller">
				    <ul class="thelist">
				    	 {% for catalogs in catalog_list %}
					      <li>
					     {% for catalog in catalogs %}
					      	<img src="{{ catalog.icon_smaill }}" class="me_tap" me_event="gopage" me_data="second_lv/{{ catalog.id }}/" />
				      	 {% endfor %}
					      </li>
				         {% endfor %}
				    </ul>
				    <div class="blank0"></div>
				  </div>
			</div>
			<div class="" style="clear:both;"></div>
		</div>
	</div>
	<div style="width: 50px;position:absolute;right: 10px;top: 10px;" class="tc">
			<div class="portrait tr me_tap" me_event="gopage" me_data="my_keeper" >
				{% if user %}
					<img src="{{ user.get_portrait() }}"   />
				{% else %}
					<img src="/static/data/my_portrait.png"   />
				{% endif %}
			</div>
			{% if user %}
			<div style="position: relative;margin-top: 25px;" class="tc me_tap" me_event="gopage" me_data="notification">
				<div class="inform_num">{{ notification }}</div>
				<img src="/static/images/inform.png"  width="22" />
			</div>
			{% endif %}
	</div>
	<div style="position:absolute;bottom: 30px;right: 15px;" class="tc">
		<div class="me_tap" me_event="gopage" me_data="sell_list">
			<img src="../static/images/buy.png"  width="22"/>
			<div class="col1 f16">购买</div>
		</div>
		<div style="margin-top: 25px" class="me_tap" me_event="gopage" me_data="setings">
			<img src="../static/images/setting.png" width="22"  />
			<div class="col1 f16">设置</div>
		</div>
		<div style="margin-top: 25px" class="me_tap" me_event="gopage" me_data="bijia">
			<img src="../static/images/bb.png" width="22" />
			<div class="col1 f16">比价</div>
		</div>
	</div>
	
</div>







