<div data-role="page" id="item_detail">
	<div data-role="header"  data-theme="me">
		<div class="horizontal">
			<div class="header_b">
				<a class="back" href="javascript:void(0)" ></a>
			</div>
			<div class="tc header_m box_flex1">
				<h1>商品详细</h1>
			</div>
			<div class="header_a"></div>
		</div>
	</div>
	<div id="wrapper_item_detail"> 
		 <div class="scroller">
		    <ul class="thelist">
		    	<li>
		    		
				<div>
					<img src="{{ item.icon_large }}"  width="100%" />
				</div>
				<div class="blank0"></div>
				<div class="pad15 bg1">
					<div class="item_p horizontal" >
						<div class="item_p_b">
							<div class="f12 col5 fb">市场参考价</div>
							<div class="col2" style="line-height: 30px;"><span class="f14 fb">￥</span><span class="f18 fb">{{ item.get_show_fee() }}</span></div>
						</div>
						<div class="item_p_m box_flex1 col3 fb" style="padding-top: 20px;">
							{{ item.success_count }}人成功交易
						</div>
						<div class="item_p_a" style="padding: 2px 0 0 0;">
							<div class="regedit br_5 fb tc me_tap" style="line-height: 40px;"  me_event="gopage" me_data='apply_item/{{ item.id }}'>
								马上报价
							</div>
						</div>
					</div>
				</div>
				<div class="detail" >
					<div class="f16 fb col4"></div>
					<div class="pad15">{{ item.title }}</div>
					<div class="content col5 f4">
						<pre>{{ item.descrip }}</pre>
					</div>
					<div class="pad15"></div>
					<div class="pad15"></div>
				</div>
		
		    		
		    	</li>
		    </ul>
		</div>
	</div>
	<div class="footer" style="overflow:hidden;background-color:#FFFFFF;text-align:center;">
		<div class="login box_flex3 tc  f18 me_tap" me_event="gopage" me_data="apply_item/{{ item.id }}?auto=true" style="height: 50px;line-height: 50px; background-color:#e64c65;">
			直接购买
		</div>
	</div>
</div>