<div data-role="page" id="guide" class="bg">accounts
	<div id="loading_lv" class="line_top">
		  <div class="scroller">
		    <ul class="thelist">
		      <li>
				<img src="/static/images/new/1.png" />
		      </li>
		      <li>
				<img src="/static/images/new/2.png" />
		      </li>
		      <li>
				<img src="/static/images/new/3.png" />
		      </li>
		      <li><img src="/static/images/new/4.png" class="me_tap" me_event="gopage" me_data="home/index" /></li>
		    </ul>
		  </div>
	</div>
</div>