<div data-role="page" id="sell_list" class="bg">
	<div data-role="header"  data-theme="me">
		<div class="horizontal">
			<div class="header_b">
				<a class="back" href="javascript:void(0)" ></a>
			</div>
			<div class="tc header_m box_flex1">
				<h1>推荐服务</h1>
			</div>
			<div class="header_a"></div>
		</div>
	</div>
	{% if ad_index %}
	<div data-role="content" class="tc f0">
		<img src="{{ ad_index.img }}" width="320" height="100" me_event="gopage" me_data='item_detail/{{ ad_index.product_id }}' class="me_list me_tap" />
	</div>
	{% endif %}
	<div id="sell_list_wrapper">
		<div class="scroller">
		<ul class="thelist">
			{% for ad in ads  %}
			<li class="item horizontal" >
				<div class="item_img tr box_flex1 " style="padding-right: 8px;">
					<img src="{{ ad.0.img }}" class="me_list me_tap" me_event="gopage" me_data='item_detail/{{ ad.0.product_id }}' style="height: 100px;width: 135px" />
				</div>
				<div class="item_img tl box_flex1" style="padding-left: 8px;">
				{% if ad.1 %}
					<img src="{{ ad.1.img }}" class="me_list me_tap" me_event="gopage" me_data='item_detail/{{ ad.1.product_id }}' style="height: 100px;width: 135px" />
				{% else %}
					<div style="height: 100px;width: 135px" class="me_list me_tap"></div?>
				{% endif %}
				</div>
			</li>
			{% endfor %}
		</ul>
		<div id="pullUp">
			<span class="pullUpIcon"></span><span class="pullUpLabel">Pull up to refresh...</span>
		</div>
		</div>
	</div>
	{% if user %}
	<div class="footer" style="overflow:hidden">
		<div style="padding: 10px;" class="horizontal">
			<div class="col1 pr" style="width: 75px;height: 30px;">
				<div class="p_bottom">
					信用基金
				</div>
			</div>
			<div class="box_flex1 col2 f30" style="width: 75px;">{{ user.current_fee }}</div>
			<div class=" me_tap" me_event="gopage" me_data='help'  style="width: 110px;">
				<div class="button_01">
					怎么获取
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>