<div id="sidebar" class="span3">
    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
        <li class="{% if 'overview' in  request.url %}active{% endif %}">
            <a href="/mc/self/overview"><i class="icon-chevron-right"></i>基本信息</a>
        </li>
         <li class="{% if 'password' in  request.url %}active{% endif %}">
            <a href="/mc/self/password"><i class="icon-chevron-right"></i>修改密码</a>
        </li>
         <li class="{% if 'logo' in  request.url %}active{% endif %}">
            <a href="/mc/self/logo"><i class="icon-chevron-right"></i>商户logo</a>
        </li>
    </ul>
</div>