{% extends "mc/base.html" %}

{% block body_id %}id="login" {% endblock %} 

{% block container %} 
	<script src="/static/common/jquery.Jcrop.min.js"></script>
	<link href="/static/css/jquery.Jcrop.min.css" rel="stylesheet" media="screen">
	
	{% include "mc/_head.html" %} 
    <div class="container form-signin">
      <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" >
          <fieldset>
            <legend>添加新商品</legend>
            {% block info %}{% include "mc/_info.html" %} {% endblock %}  
              <label class="control-label" for="focusedInput">服务类型</label>
              <div class="controls">
                <select name="catalog_id" style="margin:10px 0px;">
                	{% for my_subcatalog in my_subcatalogs %}
                	<option {% if catalog_id == my_subcatalog.catalog.id %} selected="selected" {% endif %} value="{{ my_subcatalog.catalog.id }}">{{ my_subcatalog.catalog.name }}</option>
                	{% endfor %}
                </select>
              </div>
              <label class="control-label" for="focusedInput">商品名称</label>
              <div class="controls">
                <input class="input-xlarge focused"  type="text" name="title" maxlength="11" value="{{ title }}">
              </div>
              <label class="control-label" for="focusedInput">商品介绍</label>
              <div class="controls">
                <input class="input-xlarge focused"  type="text" name="descrip" value="{{ descrip }}">
              </div>
              <label class="control-label" for="focusedInput">显示价格</label>
              <div class="controls">
                <input class="input-xlarge focused"  type="text" name="show_fee" value="{{ show_fee }}">
              </div>
              <label class="control-label" for="focusedInput">最低卖价</label>
              <div class="controls">
                <input class="input-xlarge focused"  type="text" name="acept_fee" value="{{ acept_fee }}">
              </div>
              <label class="control-label" for="focusedInput">介绍图(宽640)</label>
              <div class="controls">
                <input class="input-xlarge focused" style=" margin: 5px;" type="file" onchange="add_product_img(this)" name="temp_img" value="">
              </div>
              <div style="padding: 10px;width: 100px;"></div>
    		  <input id="icon_smaill" name="icon_smaill" type="hidden" />
    		  <input id="icon_large" name="icon_large" type="hidden" />
        		
              <div id="cropbox_wap" style="display:none;" >
			       <div style="width: 640px;margin: 0 auto;overflow:hidden;">
			          <img src="" id="cropbox" style="max-width: 640px;" alt="Avatar" />
			       </div>
			      <input id="crop_x" name="crop_x" type="hidden" value="0" />
			      <input id="crop_y" name="crop_y" type="hidden" value="0" />
			      <input id="crop_w" name="crop_w" type="hidden" value="200" />
			      <input id="crop_h" name="crop_h" type="hidden" value="120" />
		      </div>
		      <div  class="blank10"></div>
              <label class="control-label" for="focusedInput"> </label>
              <div class="controls">
                 <button type="submit" class="btn btn-large btn-primary fl" style="width: 140px;">发布</button>
	        	 <div class="blank0"> </div>
              </div>
          </fieldset>
        </form>
    </div> <!-- /container -->

<script type="text/javascript">
	
	
</script> 
   
{% endblock %} 