{% extends "mc/base.html" %}

{% block body_id %}id="main_index" {% endblock %} 
{% block container %} 
{% include "mc/_head.html" %} 
{% include "mc/_info.html" %} 
<div class="row-fluid">
	{% if  my_subcatalogs %}
	<ul class="breadcrumb" style="padding: 0 30px;">
    	<li><a href="/mc/product/catalog">我已选择的服务</a> <span class="divider">/</span></li>
    </ul>
    {% endif %}
     <ul class="thumbnails" style="padding: 10px 30px;">
     {% for catalog in my_subcatalogs %}
      <li class="" style="width: 100px;">
        <div class="thumbnail ">
          	<img src="{{ catalog.get_img() }}" alt="{{ catalog.name }}">
        </div>
        <div class="caption" style="margin-top: 5px;">
        	<label class="tc">{{ catalog.name }}</label>
        	<a href="#myModal_{{ catalog.id }}_c" role="button" class="btn" style=" width: 70px;" data-toggle="modal">删 除</a>
			<div id="myModal_{{ catalog.id }}_c" class="modal hide fade" tabindex="-1" role="dialog"  aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 >提示</h3>
				</div>
				<div class="modal-body">
					<p>确定删除 <span class="red">{{ catalog.name }} </span>服务吗?</p>
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary" href="/mc/product/cancel/{{ catalog.id }}">删除服务</a>
					<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% if not  my_subcatalogs %}
    	<p style="margin-left: 20px;" class="f16">你还没有选择服务，请去 　<a  href="/mc/product/add_catalog" class="btn">添加新服务</a></p> 
    {% endif %}
</div>
{% endblock %} 









