{% extends "mc/base.html" %}

{% block body_id %}id="login" {% endblock %} 

{% block container %} 
    <div class="container form-signin">
      <form class="form-horizontal"  action="" method="post">
        <legend>登录</legend>
	  	{% block info %}{% include "mc/_info.html" %} {% endblock %}  	
	  	  <fieldset>
          <label class="control-label" for="focusedInput">手机号</label>
          <div class="controls">
            <input class="input-xlarge focused"  type="text" name="username" value="{{ username }}">
          </div>
          <label class="control-label" for="focusedInput">密码</label>
          <div class="controls">
            <input class="input-xlarge focused"  type="password" name="password" value="">
          </div>
          <label class="control-label" for="focusedInput"> </label>
          <div class="controls">
          		<button class="btn btn-large btn-primary fl" type="submit" style="width: 140px;">登录</button>
		        <a class="fl" href="/mc/regedit" style="margin-top: 20px; margin-left: 20px;" >注册新账号</a>
		        <div class="blank0"> </div>
          </div>
          </fieldset>
      </form>
    </div> <!-- /container -->
{% endblock %} 