{% extends "mc/base.html" %}

{% block body_id %}id="main_index" {% endblock %} 
{% block container %} 
{% include "mc/_head.html" %} 
<div class="container-fluid">
<div class="row-fluid">
    {% include "mc/_self.html" %} 
    <div class="span9" id="content">
    	<div class="span12">
	        <div class="block">
            	<div class="navbar navbar-inner block-header">
	            	<div class="muted pull-left">修改登录密码</div>
	            </div>
	            <div class="block-content collapse in">
	            	{% include "mc/_info.html" %} 
	                <form class="form-horizontal" action="" method="post">
						<div class="modal-body">
							<fieldset>
					          <label for="focusedInput" class="control-label">新密码</label>
					          <div class="controls">
					            <input type="password" value="" name="new_password" class="input-xlarge focused">
					          </div>
					          <div class="blank10"></div>
					          <label for="focusedInput" class="control-label">旧密码</label>
					          <div class="controls">
					            <input type="password" value="" name="password" class="input-xlarge focused">
					          </div>
					          <div class="blank10"></div>
					          <label for="focusedInput" class="control-label"> </label>
					          <div class="controls">
					          		<button style="width: 140px;" type="submit" class="btn btn-large btn-primary fl">确定修改</button>
							        <div class="blank0"> </div>
					          </div>
					          </fieldset>
						</div>
						</form>
	                </table>
	            </div>
	        </div>
	        <!-- /block -->
	    </div>
    </div>
</div>
</div>
{% endblock %} 