{% extends "mc/base.html" %}

{% block body_id %}id="main_index" {% endblock %} 
{% block container %} 
{% include "mc/_head.html" %} 
{% include "mc/_info.html" %} 
<div class="row-fluid">
	<!-- block -->
	<div class="block">
		<div style="width: 1000px;margin: 0 auto;">
			<div class="question-content">
				<h2 style="font-family:tahoma,simsun;">消费者保障服务协议</h2>
				<div class="ke-post" id="knowledge-content">
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">本协议由您与浙江帮办管家网络有限公司共同缔结，本协议具有合同效力。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">本协议中协议双方合称协议方，浙江帮办管家网络有限公司在本协议中亦称为<span>“</span>帮办管家<span>”</span>。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><span style="font-family:宋体;">一、协议内容及生效</span></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1</span><span style="font-family:宋体;">、本协议内容包括协议正文及所有帮办管家已经发布或将来可能发布的与<span>“</span>消费者保障服务<span>”</span>相关的规则。前述规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">2</span><span style="font-family:宋体;">、您应当在实际向其他帮办管家网会员（以下简称<span>“</span>买家<span>”</span>）提供消费者保障服务之前认真阅读全部协议内容，对于协议中以<b><u>粗体下划线</u></b>标注的内容，您应重点阅读。如您对本协议有任何疑问，应向帮办管家咨询。但无论您事实上是否在向买家提供消费者保障服务之前认真阅读了本协议内容，只要您在线点击签署了本协议，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得帮办管家对您问询的解答等理由，主张本协议无效，或要求撤销本协议。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">3</span><span style="font-family:宋体;">、您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即结束开店流程或停止店铺经营活动。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">4</span><span style="font-family:宋体;">、<b><u>帮办管家有权根据需要不时地制订、修改本协议及<span>/</span>或与<span>“</span>消费者保障服务<span>”</span>相关的规则，并以网站公示的方式进行公告，不再单独通知您。变更后的协议和规则一经在帮办管家网站公布后，立即自动生效。如您不同意相关变更，应当立即停止店铺经营活动。您继续进行任何店铺经营活动，包括但不限于维持所发布的商品信息，或继续发布商品信息，使用消费者保障服务标识，即表示您接受经修订的协议。</u></b></span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">&nbsp;</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><span style="font-family:宋体;">二、定义</span></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;text-indent:.1pt;line-height:17.0pt;">
						<span style="font-family:宋体;">1</span><span style="font-family:宋体;">、消费者保障服务：指您根据本协议约定的条款和条件及帮办管家网其他公示规则的规定，通过帮办管家网发布全新、二手商品信息并利用支付宝服务向买家出售全新、二手商品时，应履行商品如实描述义务，在帮办管家指定期间内保障买家在商品与网上描述不符、商品存在质量问题、未履行售后服务情形下的权益。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;text-indent:.1pt;line-height:17.0pt;">
						<span style="font-family:宋体;">2</span><span style="font-family:宋体;">、特色服务：指您在承诺消费者保障服务的基础上，根据您的店铺主营类目自愿选择向买家提供的特定服务项目，包括但不限于<span>“</span>数码与家电<span>30</span>天维修服务<span>”</span>、<span>“7</span>天无理由退换货服务<span>”</span>和<span>“</span>假一赔三服务<span>”</span>。帮办管家将在帮办管家网不时公示新增的服务项目或对原服务项目内容进行修订。关于特色服务内容，由您在选择具体服务项目时和帮办管家另行约定。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;text-indent:.1pt;line-height:17.0pt;">
						<span style="font-family:宋体;">3</span><span style="font-family:宋体;">、保证金：指您根据本协议约定的条款和条件及帮办管家网其他公示规则的规定缴存并冻结于您的支付宝账户，在您未履行消费者保障服务承诺时用于对买家进行赔付的资金。根据对应的服务内容不同，保证金分为基础保证金和特色服务保证金。本协议中提及的<span>“</span>保证金<span>”</span>，如无相反约定，均指基础保证金。特色服务保证金的缴存和管理由您和帮办管家在具体的特色服务协议中另行约定。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;text-indent:.1pt;line-height:17.0pt;">
						<span style="font-family:宋体;">4</span><span style="font-family:宋体;">、先行赔付：指您与买家通过支付宝服务进行交易后，如因您未履行消费者保障服务承诺而导致买家权益受损，且在买家直接要求您处理未果的情况下，<b><u>帮办管家有权以普通或非专业人员的知识水平标准，根据相关证据材料和规则判定您是否应履行赔付义务。如是，则帮办管家有权通知支付宝公司自您的支付宝账户直接扣除相应金额保证金款项，或者在您未缴纳保证金或保证金不足时动用您支付宝账户中的余额赔付给买家。</u></b></span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;text-indent:.1pt;line-height:17.0pt;">
						<span style="font-family:宋体;">5</span><span style="font-family:宋体;">、纠纷退款笔数：指您与买家未能在自行协商阶段（即退款超时之前）达成退款协议，由帮办管家工作人员人工介入进行协调判定并成功退款的笔数。纠纷退款笔数的核算时间以退款完结（仅指退款状态为<span>“</span>退款成功<span>”</span>之情形）的时间为核算点，每个自然月的<span>1</span>号核算上个自然月纠纷退款笔数。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;text-indent:.1pt;">
						<span style="font-family:宋体;">6</span><span style="font-family:宋体;">、纠纷退款率：指一个自然月内纠纷退款笔数占该自然月内支付宝交易成功笔数的比例。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;text-indent:.1pt;line-height:17.0pt;">
						<span style="font-family:宋体;">7</span><span style="font-family:宋体;">、新增介入退款笔数：指您与买家未能在自行协商阶段（即退款超时之前）达成退款协议而引发的由帮办管家工作人员人工介入的退款申请笔数。新增介入退款笔数的核算时间以发起帮办管家介入退款申请的时间为核算点，每个自然月的<span>1</span>号核算上个自然月新增介入退款笔数。</span>
					</p>
					<p style="line-height:17.0pt;">
						<span style="font-family:宋体;">8</span><span style="font-family:宋体;">、新增介入退款率：指一个自然月内新增介入退款笔数占该自然月内支付宝交易成功笔数的比例。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;text-indent:.1pt;line-height:17.0pt;">
						<span style="font-family:宋体;">9</span><span style="font-family:宋体;">、售后履约担保金：指根据本协议约定的条款和条件及帮办管家网其他公示规则的规定，买家确认收货后发起特定售后维权情形下，冻结于您的支付宝账户中与维权金额等值的，用于保障维权成立时您对买家进行赔付的履约担保资金。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;text-indent:.1pt;line-height:17.0pt;">
						<span style="font-family:宋体;">10</span><span style="font-family:宋体;">、支付宝服务：</span><span style="font-family:宋体;">指</span><span style="font-family:宋体;">由支付宝（中国）网络技术有限公司（以下简称<span>“</span>支付宝公司<span>”</span>）向您提供的<span>“</span>支付宝<span>”</span>软件服务系统及附随为您提供的代收代付货款的中介服务。支付宝服务具体内容，详见您与支付宝公司之间签署生效的《支付宝服务协议》之约定。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;text-indent:.1pt;line-height:17.0pt;">
						<span style="font-family:宋体;">11</span><span style="font-family:宋体;">、支付宝账户：</span><span style="font-family:宋体;">指</span><span style="font-family:宋体;">您使用支付宝服务时由支付宝公司为您提供的一个唯一的编号，由您自行设置密码，以此查询或计量您的预付或应收应付款。</span>
					</p>
					<p style="line-height:17.0pt;">
						<span style="font-family:宋体;">&nbsp;</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><span style="font-family:宋体;">三、消费者保障服务内容</span></b><span style="font-family:宋体;"></span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">在您向买家提供消费者保障服务过程中，您承诺遵守以下约定：</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1</span><span style="font-family:宋体;">、您同意遵守本协议、《帮办管家服务协议》、《支付宝服务协议》以及所有公示于帮办管家网与<span>“</span>消费者保障服务<span>”</span>相关的规则。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">2</span><span style="font-family:宋体;">、您明示只接受<span>“</span>支付宝服务<span>”</span>或其他由支付宝公司提供的支付方式作为您通过帮办管家网达成交易的支付工具。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">3</span><span style="font-family:宋体;">、您拥有的合法的权利和资格向帮办管家网上传有关商品销售信息，且前述行为未对任何第三方合法权益，包括但不限于第三方知识产权、物权等构成侵害。如因您的行为导致帮办管家或其关联公司遭受任何第三方提起的索赔、诉讼或行政责任，您应承担相应责任并使帮办管家免责。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">4</span><span style="font-family:宋体;">、<b><u>您应在商品描述页面、店铺页面、阿里旺旺等所有帮办管家网提供的渠道中，对上传于帮办管家网的商品信息进行如实描述，包括但不限于对商品的基本属性、成色、瑕疵等必须说明的信息进行真实、准确、完整的描述，并对描述的商品信息负有举证责任。</u></b>您应保证您出售的商品在合理期限内可正常使用，不存在危及人身财产安全的不合理危险，具备商品应当具备的使用性能，符合商品或其包装上注明采用的标准等。<b><u>您承诺为买家提供的售后保障服务不低于帮办管家网公布的“类目售后服务标准”的要求</u></b>，帮办管家鼓励您为买家提供更高标准的售后服务。“类目售后服务标准”由帮办管家根据各类目特点制定，并以帮办管家网公布的最新内容为准（<a href="http://service.taobao.com/support/knowledge-1133649.htm" title="" target="_blank">点击查看</a>“类目售后服务标准”）。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">5</span><span style="font-family:宋体;">、如您在男装、女装<span>/</span>女士精品类目下发布商品，以及发布二手属性商品时，您应当使用实物拍摄图片，即您针对该件商品本身实际拍摄的图片，不包括杂志图片、官方网站图片及宣传图片。如您违反本条款之约定，则视为您违反了商品如实描述义务。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;text-indent:.1pt;line-height:17.0pt;">
						<span style="font-family:宋体;">6</span><span style="font-family:宋体;">、</span><b><u><span style="font-family:宋体;">您明确了解并同意您是消费者保障服务的责任主体，帮办管家及其关联公司仅向您提供相关技术支持及服务，不对您向买家提供的消费者保障服务内容承担任何保证责任。</span></u></b><span style="font-family:宋体;">当发生</span><span style="font-family:宋体;">买家在商品与网上描述不符、商品存在质量问题等情形时，您应保证买家的权益。对于买家因前述问题提出的退换货要求，您应积极处理。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;text-indent:.1pt;line-height:17.0pt;">
						<span style="font-family:宋体;">7</span><span style="font-family:宋体;">、您同意</span><span style="font-family:宋体;">当帮办管家受理买家提出的消费者保障服务维权和赔付申请时，您应积极配合，在帮办管家要求的时间期限内提供相关证据材料，以证明与买家交易的商品不存在买家提出的问题或符合双方的约定，并保证所提交的证据材料真实、合法。<b><u>如帮办管家以</u></b></span><b><u><span style="font-family:宋体;">普通或非专业人员的知识水平标准，对您和<span>/</span>或买家提供的证据材料进行表面审核后，以其独立判断</span></u></b><b><u><span style="font-family:宋体;">您未全面履行消费者保障服务内容的，则帮办管家有权根据本协议及其它公示规则的规定，对因此遭受权益损失的买家进行先行赔付。</span></u></b><span style="font-family:宋体;"></span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">8</span><span style="font-family:宋体;">、</span><span style="font-family:宋体;">您同意当帮办管家进行先行赔付时，或帮办管家使用自有资金代您向买家进行赔付时，即视为您违规，帮办管家有权给予您相应处罚。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">9</span><span style="font-family:宋体;">、您同意如您出售以下类目商品（</span><span style="font-family:宋体;">帮办管家将在帮办管家网不时公示新增或减少的类目商品</span><span style="font-family:宋体;">），仍应履行商品如实描述义务，保障买家权益。但帮办管家有权不介入以下类目商品交易产生的纠纷，您应自行处理您与买家之间可能产生的交易纠纷，“消费者保障服务”或类似文案之标识亦不适用于以下类目商品<span>:</span></span>
					</p>
					<p style="line-height:17.0pt;">
						<span style="font-family:宋体;">9.1 </span><span style="font-family:宋体;">宠物<span>/</span>宠物食品及用品<span>&gt;</span>小宠类及用品、水族世界、爬虫类及用品、鸟类及用品、宠物配</span><span style="font-family:宋体;">种<span>/</span>服务、其它；</span>
					</p>
					<p style="line-height:17.0pt;">
						<span style="font-family:宋体;">9.2 </span><span style="font-family:宋体;color:black;">网店</span><span style="color:black;">/</span><span style="font-family:宋体;color:black;">网络服务</span><span style="color:black;">/</span><span style="font-family:宋体;color:black;">个性定制</span><span style="color:black;">/</span><span style="font-family:宋体;color:black;">软件充值</span><span style="font-family:宋体;">&gt;</span><span style="font-family:宋体;color:black;">平台软件</span><span style="color:black;">/</span><span style="font-family:宋体;color:black;">加款卡</span><span style="font-family:宋体;">&gt;</span><span style="font-family:宋体;color:black;">充值平台加款卡；</span><span style="color:black;"></span>
					</p>
					<p style="line-height:17.0pt;">
						<span style="font-family:宋体;">9.3 </span><span style="font-family:宋体;">网络游戏点卡<span>&gt;</span>网游平台（加款卡）；</span>
					</p>
					<p style="line-height:17.0pt;">
						<span style="font-family:宋体;">9.4 </span><span style="font-family:宋体;">成人用品<span>/</span>避孕用品<span>/</span>情趣内衣；</span>
					</p>
					<p style="line-height:17.0pt;">
						<span style="font-family:宋体;">9.5 </span><span style="font-family:宋体;">房产<span>/</span>租房<span>/</span>新房<span>/</span>二手房<span>/</span>委托服务。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:.1pt;text-align:left;line-height:17.0pt;">
						<b><u><span style="font-family:宋体;">10</span></u></b><b><u><span style="font-family:宋体;">、您同意接受帮办管家基于商品品质控制需求对您在售商品进行的匿名质量抽检，检测报告由专业的第三方质检机构出具。您承诺对帮办管家的抽检方式和帮办管家选择的第三方质检机构（含生产厂商，以下同）作出的检测结果不持有异议。对于经检测证明存在质量瑕疵（含质量问题、描述不符、假冒伪劣等情形，以下同）的商品，检测费用由您自行承担，您应向帮办管家退回购货款，且帮办管家有权保留不合格商品。此外，帮办管家有权依照帮办管家规则对出售质量瑕疵商品的卖家进行相应的处罚。</span></u></b>
					</p>
					<p style="line-height:17.0pt;">
						<span style="font-family:宋体;">11</span><span style="font-family:宋体;">、您同意根据帮办管家网页面提示或买家要求，准确提供并及时更新您的退货地址及退货收件人姓名、联系方式等退货信息，使之真实、及时、完整和准确。如因您提供的退货地址、退货收件人等退货信息错误、不实、过时或不完整，而导致退货之商品发生毁损或灭失风险，则该风险及因此产生的直接或间接支出应由您自行承担。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">&nbsp;</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><span style="font-family:宋体;">四、保证金</span></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">您应根据以下条款之约定缴存，并不可撤销地授权帮办管家及其关联公司有权根据以下条款及帮办管家网其他公示规则的规定冻结、使用、处置保证金。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1</span><span style="font-family:宋体;">、保证金的缴存</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.1 </span><span style="font-family:宋体;">除帮办管家规定必须缴纳保证金的商品类目卖家外，您可在开店流程中，或在<span>“</span>我的帮办管家<span>”</span>等相关页面自由选择主动缴纳或不缴纳保证金。如您选择主动缴纳保证金，则首次缴纳的保证金金额应不少于<span>1000</span>元人民币（特殊类目另有约定的除外）。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.2 </span><span style="font-family:宋体;">如您未根据上述<span>1.1</span>款之约定选择主动缴纳保证金，则当帮办管家通知支付宝公司划扣您的支付宝账户余额用于执行先行赔付后，您必须自收到保证金催缴单之日起七（<span>7</span>）日内足额缴纳相应金额的保证金；当出现以下任一情形时，您须缴纳的保证金额度依照<span>[</span>保证金额度<span>=1000</span>元人民币<span>×2</span></span><sup><span style="font-size:14.0pt;font-family:宋体;">n</span></sup><span style="font-family:宋体;">]</span><span style="font-family:宋体;">的公式缴纳，即发生以下任一情形的，则<span>n</span>加<span>1</span>，保证金翻倍增加。本条款约定之保证金额度下限为<span>1000</span>元人民币，不设上限。本协议有效期内，<span>n</span>数值累计计算，不设上限，不清零。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.2.1 </span><span style="font-family:宋体;">您违反《帮办管家规则》，因发生一般违规行为之“描述不符”和<span>/</span>或“违背承诺”任一项或累计扣分满<span>12</span>分；如您因未在收到保证金催缴单之日起十四（<span>14</span>）日内足额缴纳保证金而导致违背承诺扣<span>12</span>分之处罚，则该扣分处罚不计入<span>n</span>增减之数值。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.2.2</span><span style="font-family:宋体;">在一个自然月内</span><span style="font-family:宋体;">纠纷退款笔数</span><span style="font-family:宋体;">高于<span>6</span>笔且</span><span style="font-family:宋体;">纠纷退款</span><span style="font-family:宋体;">率超过<span>0.1%</span>。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.2.3</span><span style="font-family:宋体;">如您为以下虚拟类目卖家，在一个自然月内符合以下一种或多种情形：</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">（<span>1</span>）移动<span>/</span>联通<span>/</span>电信充值中心：退款率大于等于<span>7%</span>且退款笔数大于<span>10</span>笔；</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">（<span>2</span>） 网络游戏点卡、腾讯<span>QQ</span>专区：退款率大于等于<span>20%</span>且退款笔数大于等于<span>100</span>笔；</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">（<span>3</span>） 网游装备<span>/</span>游戏币<span>/</span>帐号<span>/</span>代练：退款率大于<span>20%</span>且退款笔数大于等于<span>50</span>笔；</span>
					</p>
					<p align="left" style="text-align:left;">
						<span style="font-family:宋体;">（<span>4</span>）手机号码<span>/</span>套餐<span>/</span>增值业务<span>&nbsp;</span>： 退款率大于<span>7%</span>且退款笔数大于<span>5</span>笔。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.2.4</span><span style="font-family:宋体;">如果您为以下虚拟类目卖家，在一个自然月内符合以下一种或多重情形：</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">（<span>1</span>）移动<span>/</span>联通<span>/</span>电信充值中心：新增介入退款率大于<span>1.5%</span>且新增介入退款笔数大于<span>10</span>笔；</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">（<span>2</span>）网络游戏点卡、腾讯<span>QQ</span>专区：新增介入退款率大于等于<span>1.5%</span>且新增介入退款笔数大于等于<span>5</span>笔。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.3</span><span style="font-family:宋体;">如您为帮办管家规定必须缴纳保证金的商品类目卖家<span>,</span>则您必须根据各类目要求缴纳相应金额的保证金（请</span><span><a href="http://service.taobao.com/support/knowledge-1133649.htm"><span style="font-family:宋体;"><span>点击查看</span></span></a></span><span style="font-family:宋体;">具体类目和保证金额度要求，帮办管家可以调整该等类目商品范围并进行公示）（不论您是根据本条<span>1.1</span>款主动缴纳或是根据本条<span>1.2</span>款强制缴纳），否则您将不能在</span><span style="font-family:宋体;">对应</span><span style="font-family:宋体;">类目下发布全新<span>/</span>二手商品。如您根据前述约定已足额缴纳了相应的保证金，同时又发生违反《帮办管家规则》之情形，根据上述<span>1.2</span>项之约定需缴纳或增加保证金额度的，则应根据二者较高之金额足额缴纳保证金。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.4</span><span style="font-family:宋体;">如您在签署本协议之前，已缴纳过一定金额的保证金，则在本协议生效后，您无需另行额外缴纳保证金，除非出现上述<span>1.2</span>或<span>1.3</span>款约定之您必须缴纳保证金之情形。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.5 </span><b><u><span style="font-family:宋体;">尽管有上述约定，本协议有效期内，帮办管家有权根据您业务变化及实际赔付情况以书面方式通知您调整保证金金额。</span></u></b><span style="font-family:宋体;">您应使保证金余额始终保持不低于本条款约定之金额，如发生赔付事件导致您需补缴保证金的，则帮办管家有权指示支付宝公司继续冻结您支付宝账户中的余额以补足保证金，如您的支付宝账户余款不足，则您应在赔付事件发生之日起七（<span>7</span>）日内补足；如发生违规扣分处罚、</span><span style="font-family:宋体;">纠纷退款</span><span style="font-family:宋体;">率升高等原因导致您需补缴保证金的，则您应在前述事件发生之日起七（<span>7</span>）日内自行补足保证金。保证金不足期间，帮办管家有权暂停或终止向您提供全部或部分帮办管家网服务。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.6 </span><span style="font-family:宋体;">不论前述何种情形，只要您事实上缴纳了保证金，保证金余额大于<span>0</span>，您店铺的相关页面将出现<span>“</span>已交保证金<span>”</span>或类似文案之标识。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.7</span><b><u><span style="font-family:宋体;">如您已经因发布全新商品成为消保卖家，并且已经缴纳全新商品保证金，当您发布二手商品时，您需要补签本协议，并且补全需缴纳的保证金差额。否则您将无法发布、编辑、管理您的二手属性商品，帮办管家有权暂停或终止向您提供全部或部分帮办管家网服务。</span></u></b><span style="font-family:宋体;"></span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">2</span><span style="font-family:宋体;">、保证金的冻结</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;text-indent:15.75pt;line-height:17.0pt;">
						<span style="font-family:宋体;">您不可撤销地授权支付宝公司根据帮办管家之指令，将您根据本协议之约定缴存的保证金款项冻结于您的支付宝账户中。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">3</span><span style="font-family:宋体;">、保证金的解冻</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">3.1<span>&nbsp; </span></span><span style="font-family:宋体;">无论您是基于本条任一款项之约定缴纳的保证金，您如同时符合如下条件，均可申请解冻保证金，帮办管家亦有权直接解冻您的保证金：<span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>3.1.1 </span>申请解冻或帮办管家直接解冻之时<span>n</span>值为<span>0</span>；<span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">3.1.2 </span><span style="font-family:宋体;">最近<span>3</span>个月内一般违规行为和严重违规行为两项累计扣分为<span>0</span>分；<span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>3.1.3 </span>没有未完结的退款；<span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>3.1.4 </span>交易包括但不限于交易产生的纠纷均已处理完毕；</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">3.1.5</span><span style="font-family:宋体;">特色服务项目均已退出且各项消保服务的</span><span style="font-family:宋体;">保障期均已到期。</span><span style="font-family:宋体;"></span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">3.2</span><span style="font-family:宋体;">如最近<span>1</span>个月内一般违规行为和严重违规行为两项累计扣分为<span>0</span>分，且本自然月内</span><span style="font-family:宋体;">纠纷退款笔数不</span><span style="font-family:宋体;">高于<span>6</span>笔或者</span><span style="font-family:宋体;">纠纷退款</span><span style="font-family:宋体;">率不超过<span>0.1%</span>，虚拟类目卖家在一个自然月内未出现<span>1.2.3</span>项下之任一情形的，则<span>n</span>减<span>1</span>，保证金翻倍减少。届时如您的保证金余额大于<span>1000</span>元人民币，则帮办管家将直接解冻您根据本条<span>1.2</span>项之约定强制增加缴纳的保证金（仅限于<span>1000</span>元人民币以上部分），具体解冻金额需视您当时<span>n</span>之数值确定。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">3.3 </span><span style="font-family:宋体;">如您未在收到保证金催缴单之日起十四（<span>14</span>）日内足额缴纳相应金额的保证金，且当时您没有未完结的退款交易，包括但不限于交易产生的纠纷均已处理完毕，帮办管家将直接解冻您剩余的保证金余额，并有权直接终止向您提供全部或部分帮办管家网服务。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">3.4</span><span style="font-family:宋体;">如您已成功申请解冻保证金，解冻后您的保证金余额为<span>0</span>，或您未在收到保证金催缴单之日起七（<span>7</span>）日内足额缴纳相应金额的保证金，则您店铺相关页面的<span>“</span>已交保证金<span>”</span>或类似文案之标识将被取消。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">4</span><span style="font-family:宋体;">、保证金的管理与使用</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">4.1 </span><span style="font-family:宋体;">您同意，帮办管家有权在包括但不限于以下情况发生时，向支付宝公司就保证金的管理和使用发出指令，处置您的保证金：</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">4.1.1 </span><b><u><span style="font-family:宋体;">如您在帮办管家网发布商品、利用支付宝服务达成交易、履行交易相关义务过程中，违反国家法律、法规、政策、帮办管家网任何规则或支付宝公司的任何规定或违反您对买家的承诺，或被买家申请维权、索赔时，帮办管家有权根据其独立的判断，无须承担责任地，直接使用保证金对买家进行先行赔付。</span></u></b><span style="font-family:宋体;">
							<br>
							4.1.2</span><b><u><span style="font-family:宋体;">如您违反本协议和</span><span>/</span></u></b><b><u><span style="font-family:宋体;">或帮办管家网任何规则和</span><span>/</span></u></b><b><u><span style="font-family:宋体;">或您与帮办管家签署的其他协议，给帮办管家或其关联公司造成任何损失（包括但不限于诉讼赔偿、诉讼费用、律师费用等）的，或您在售商品经帮办管家质量抽检，由第三方质检机构检测证明存在质量瑕疵的，帮办管家有权根据其独立的判断，无须承担责任地，直接从保证金中扣除相当于帮办管家或其关联公司损失（含应退回的货款等）的金额和相当于检测费用的金额，以补偿帮办管家或其关联公司所遭受的损失。同时帮办管家有权无限期要求支付宝公司关闭卖家支付宝账户的全部或部分功能，直至卖家履行了约定的义务。</span></u></b><span style="font-family:宋体;"></span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">上述<span>4.1.1</span>项规定的赔付程序将按帮办管家网不时公布的规则及<span>/</span>或帮办管家、支付宝公司的决定进行。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">4.2 </span><span style="font-family:宋体;">您同意在您与帮办管家另行签署的特色服务协议项下，如根据该特色服务协议之约定您无需另行缴纳特色服务保证金的，则本条款所述之保证金，可用于该特色服务协议项下的先行赔付之用途。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">4.3 </span><span style="font-family:宋体;">帮办管家如使用保证金进行任何赔付，将以书面方式（包括但不限于电子邮件、传真等）通知您。在向您出具的书面通知中，将说明赔付原因及赔付金额。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">4.4 </span><b><u><span style="font-family:宋体;">如您的保证金或支付宝余额不足以赔付时，您应自行支付额外的赔付金额。在您保证金或支付宝余额不足时，帮办管家没有使用自有资金向买家或者任何第三方支付赔偿金、补偿金或其它任何款项的义务，</span></u></b><b><u><span style="font-family:宋体;">您仍应对买家或者其他权利人承担赔付、补偿义务。您明确同意如您的保证金或支付宝余额不足以赔付，且您未自行向买家支付额外的赔付金额时，您不可撤销地委托帮办管家（但帮办管家无义务）使用自有资金代您向买家进行赔付。</span></u></b><span style="font-family:宋体;">不论是在本协议项下，或是您与帮办管家另行签署的其它特色服务协议项下，帮办管家基于您的委托而代为赔付的合计总金额以<span>3000</span>元人民币为上限。此等情形下，</span><span style="font-family:宋体;">帮办管家有权向您追偿赔付金，</span><span style="font-family:宋体;">包括但不限于采用以下两种方式：</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">4.4.1 </span><span style="font-family:宋体;">要求您在帮办管家赔付后十四（<span>14</span>）日内</span><span style="font-family:宋体;">向帮办管家偿还与赔付金数额相同的资金，以补偿帮办管家所遭受的损失</span><span style="font-family:宋体;">，</span><span style="font-family:宋体;">并向买家赔付您实际需赔付金额中的剩余部分（如有），</span><span style="font-family:宋体;">且在指定时间内补足保证金。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">4.4.2 </span><span style="font-family:宋体;">要求支付宝公司将您支付宝账户下的款项直接支付给帮办管家，以补偿帮办管家所遭受的损失；
							<br>
							<span> <span>&nbsp;&nbsp;&nbsp; </span></span>如帮办管家的损失通过上述二种方式仍无法弥补，则帮办管家有权单方面终止向您提供帮办管家网服务，而且继续要求您承担赔偿责任。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">4.5 </span><span style="font-family:宋体;">您对买家、任何第三方以及帮办管家的赔付责任不以您已缴纳的保证金数额或<span>3000</span>元人民币（取二者较高者）为限。帮办管家不对买家或者任何第三方承担任何赔付、赔偿义务，但有权根据本协议的规定将您的保证金用于保障对买家或其他权利人的利益。
							<br>
							<br>
							<span> </span></span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">五、售后履约担保金</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1</span><span style="font-family:宋体;">、售后履约担保金的冻结</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.1 </span><span style="font-family:宋体;">当买家确认收货后向您发起退货的售后维权申请时，出现以下任一情形，您不可撤销地授权支付宝公司根据帮办管家之指令，冻结您支付宝账户余额中与维权申请金额等值的款项作为您的售后履约担保金：</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.1.1</span><span style="font-family:宋体;">您主动同意了买家的退款申请；</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.1.2</span><span style="font-family:宋体;">您未及时操作导致系统超时自动确认了买家的退款申请；</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.1.3</span><span style="font-family:宋体;">帮办管家人工介入后您未在举证期限内完成证据的提交。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.2 </span><span style="font-family:宋体;">如您的支付宝账户余额不足，您应在系统提示充值的<span>24</span>小时内足额缴纳相应金额的担保金。如您未能在上述期限内补足相应款项，该笔维权对应的售后履约担保金不予冻结，帮办管家将直接人工介入纠纷处理，并将根据本协议约定的条款和条件、帮办管家网其他公示规则及您和<span>/</span>或买家提供的<u>相关证据材料对纠纷进行协调判定。若买家维权成立，且您的保证金或</u>支付宝余额<u>均不足赔付退款金额的，</u></span><span style="font-family:宋体;">适用本协议第四条<span>4.4</span>款的相关约定。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">2</span><span style="font-family:宋体;">、售后履约担保金的使用与解冻</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">2.1 </span><span style="font-family:宋体;">您同意，当买家完成退货操作时，当出现以下任一情形，您不可撤销地授权支付宝公司根据帮办管家之指令，直接使用售后履约担保金对买家进行先行赔付：</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><u><span style="font-family:宋体;">2.1.1</span></u></b><b><u><span style="font-family:宋体;">本条<span>1.1</span>款所列任一情形；</span></u></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><u><span style="font-family:宋体;">2.1.2</span></u></b><b><u><span style="font-family:宋体;">帮办管家人工介入判定维权成立。</span></u></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">2.2</span><span style="font-family:宋体;"> </span><span style="font-family:宋体;">帮办管家如使用售后履约担保金进行赔付，将以书面方式（包括但不限于电子邮件、传真等）通知您。在向您出具的书面通知中，将说明赔付原因及赔付金额。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">2.3 </span><span style="font-family:宋体;">如在退货维权过程中任一环节买家因未及时操作导致系统超时自动完结此项维权申请，或在帮办管家人工介入并判定维权申请不成立时，您账户中冻结的相应金额的</span><span style="font-family:宋体;">售后履约担保金</span><span style="font-family:宋体;">将自行解冻。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><span style="font-family:宋体;">&nbsp;</span></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><span style="font-family:宋体;">六、有限责任</span></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><u><span style="font-family:宋体;">1</span></u></b><b><u><span style="font-family:宋体;">、您了解并同意，帮办管家及其关联公司并非司法机构，仅能以普通或非专业人员的知识水平标准对您提交的证据材料进行鉴别，帮办管家及其关联公司对交易纠纷的调处完全是基于您的委托，帮办管家及其关联公司无法保证交易纠纷处理结果符合您的期望，也不对交易纠纷调处结果及保证金、售后履约担保金赔付决定承担任何责任。您应保证您提交的证据材料的真实性、合法性，并承担您或买家提供的信息、数据不实的风险和责任。如您因此遭受损失，您同意自行向受益人索赔。</span></u></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><u><span style="font-family:宋体;">2</span></u></b><b><u><span style="font-family:宋体;">、您了解并同意，帮办管家及其关联公司对与本协议相关的以及由于本协议的签订、履行导致的所有的、全部的责任，不管是否与违约、侵权相关，也不管由于故意还是过失，也不管您是否向帮办管家支付过任何费用，在任何情况下，都不应超过<span>3000</span>元人民币，这并不影响帮办管家根据本协议、帮办管家与您签署的其它协议、帮办管家规则享有的免责、责任限制的权利。</span></u></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">&nbsp;</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><span style="font-family:宋体;">七、委托支付</span></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><u><span style="font-family:宋体;">1</span></u></b><b><u><span style="font-family:宋体;">、本协议一旦生效，即表示您已充分理解并同意向支付宝公司作出授权，您授权支付宝公司根据帮办管家发出的指令对您支付宝账户中的保证金、售后履约担保金、余额进行相应操作（含向您开通了支付宝卡通功能的银行账户所属银行转发并协助完成该支付指令的操作），此授权在本协议有效期间以及本协议明确约定的期间均具有法律约束力并不可撤销。</span></u></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><u><span style="font-family:宋体;">2</span></u></b><b><u><span style="font-family:宋体;">、根据本协议的约定，帮办管家有权向支付宝公司发出如下类型的指令：</span></u></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><u><span style="font-family:宋体;">2.1</span></u></b><b><u><span style="font-family:宋体;">保证金、售后履约担保金的冻结、解冻；</span></u></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><u><span style="font-family:宋体;">2.2</span></u></b><b><u><span style="font-family:宋体;">划扣保证金、售后履约担保金用于执行先行赔付或划扣保证金用于赔偿帮办管家及其关联公司的损失、质检费用；</span></u></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><u><span style="font-family:宋体;">2.3</span></u></b><b><u><span style="font-family:宋体;">在保证金不足时，划扣支付宝账户余额补充保证金；</span></u></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><u><span style="font-family:宋体;">2.4</span></u></b><b><u><span style="font-family:宋体;">在您尚未缴纳保证金的情况下，划扣支付宝账户余额用于执行先行赔付或赔偿帮办管家及其关联公司的损失、质检费用；</span></u></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><u><span style="font-family:宋体;">2.5</span></u></b><b><u><span style="font-family:宋体;">如帮办管家根据你的委托</span></u></b><b><u><span style="font-family:宋体;">代您向买家进行了赔付，或者因您的原因导致</span></u></b><b><u><span style="font-family:宋体;">帮办管家及其关联公司发生损失或质检费用的，支付宝有权在您的支付宝账户有效期间（即可能超越本协议有效期）根据帮办管家的指令从您支付宝账户中的划扣<span>/</span>冻结同等金额的款项以及关闭支付宝账户的全部或部分功能。</span></u></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><u><span style="font-family:宋体;">3</span></u></b><b><u><span style="font-family:宋体;">、您同意支付宝公司依照您的授权进行操作的一切风险由您和您指定的支付宝用户承担。作为支付宝公司为您的支付宝账户提供的一项增值服务，除非支付宝公司未按照您的授权执行操作或执行指令错误，支付宝公司将不对任何因授权行为之履行承担任何法律责任，您也不得在诉讼、仲裁或其他任何形式的争议解决中向支付宝公司主张权利，该等争议应由您与帮办管家自行协商或通过司法途径解决。</span></u></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><span style="font-family:宋体;">&nbsp;</span></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><span style="font-family:宋体;">八、协议终止</span></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1</span><span style="font-family:宋体;">、出现以下情况时，本协议终止。本协议终止后，您将无法继续进行任何店铺经营活动：</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.1 </span><span style="font-family:宋体;">自然终止：如您在线签署的《帮办管家服务协议》、《支付宝服务协议》因任何原因终止，则本协议将同时终止。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><u><span style="font-family:宋体;">1.2 </span></u></b><b><u><span style="font-family:宋体;">通知解除：帮办管家有权提前十五（<span>15</span>）天以书面通知的方式终止本协议。</span></u></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><u><span style="font-family:宋体;">1.3 </span></u></b><b><u><span style="font-family:宋体;">帮办管家单方解除权：如您违反本协议中的任何承诺与保证或帮办管家网的任何规则，帮办管家有权立即终止本协议，且按有关规则对您进行处罚。</span></u></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.4 </span><span style="font-family:宋体;">本协议（含规则）变更时，您明示并通知帮办管家不愿接受新的消费者保障服务协议，则本协议自帮办管家收到您通知之日起自动终止。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1.5 </span><span style="font-family:宋体;">本协议规定的其他协议终止条件发生或实现，导致本协议终止。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">2</span><span style="font-family:宋体;">、无论本协议因何原因终止，在协议终止前的行为所导致的任何赔偿和责任，您必须完全且独立地承担责任。即使本协议终止，帮办管家及其关联公司仍有权根据本协议的规定处理，包括但不限于使用您支付宝账户中的保证金、余额来处理因本协议有效期内发生的交易所导致的买家索赔。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">3</span><span style="font-family:宋体;">、本协议第五条及第七条的效力不因本协议的终止而终止。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">&nbsp;
							<br>
						</span><b><span style="font-family:宋体;">九、争议解决</span></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;text-indent:21.1pt;line-height:17.0pt;">
						<b><u><span style="font-family:宋体;">本协议之解释与适用，以及与本协议有关的争议，均应依照中华人民共和国大陆地区法律予以处理，并以帮办管家所在地人民法院为第一审管辖法院。</span></u></b>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">&nbsp;</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<b><span style="font-family:宋体;">十、其他</span></b><span style="font-family:宋体;"></span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">1</span><span style="font-family:宋体;">、如本协议的任何条款被视作无效或无法执行，则上述条款可被分离，其余部份则仍具有法律效力。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">2</span><span style="font-family:宋体;">、帮办管家于您过失或违约时放弃本协议约定的权利的，不得视为帮办管家对您的其他或以后同类之过失或违约行为弃权。</span>
					</p>
					<p align="left" style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:left;line-height:17.0pt;">
						<span style="font-family:宋体;">3</span><span style="font-family:宋体;">、<b><u>帮办管家基于本协议享有的权利以及获得的授权，均可以全部或部分转移、转让、许可、分授权、转授权给任何第三方。</u></b>未经帮办管家事先书面同意，您不得将本协议项下的权利义务转让给任何第三方。</span>
					</p>
					<p>
						&nbsp;
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- /block -->
</div>

{% endblock %} 