{% extends "mc/base.html" %}

{% block body_id %}id="main_index" {% endblock %} 
{% block container %} 
{% include "mc/_head.html" %} 
{% include "mc/_info.html" %} 
<div class="row-fluid">
    <!-- block -->
    <div class="block">
        <div class="navbar navbar-inner block-header">
            	<div style="width: 1000px;margin: 0 auto;">
            		<span style="padding-right: 10px;">我的保证金总数：￥{{ mc_user.get_pre_payed() }}</span>
            		<a href="#myModal_01" role="button"  data-toggle="modal">马上充值</a>
				   <div id="myModal_01" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_01" aria-hidden="true">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel_01">保证金充值:</h3>
						</div>
						<div class="modal-body">
							请选择充值金额
							<select  style="width: 100px;" id="select_free" >
								<option value="0.01">0.01</option>	
								<option value="0.01">50</option>	
							</select>
							元
						</div>
						<div class="modal-footer">
							<a class="btn btn-primary" target="_blank" href="/mc/pay" onclick="return play(this);">立即充值</a>
						</div>
					</div>
            	</div>
        </div>
        <div class="block-content collapse in">
        	{% if datas.count() > 0 %}
            <div class="span12">
				<table class="table">
	              <thead>
	                <tr>
	                  <th>#</th>
	                  <th>充值编号</th>
	                  <th>金额</th>
	                  <th>时间</th>
	                </tr>
	              </thead>
	              <tbody>
	              	{% for data in datas %}
	                <tr class="{{ loop.cycle('success', 'error','info') }}">
	                  <td width="30">{{ loop.index }}</td>
	                  <td>{{ data.order_id}}</td>
	                  <td width="100">{{ data.get_pre_payed() }}</td>
	                  <td>{{ data.last_modify }}</td>
	                </tr>
	                {% endfor %}
	              </tbody>
	            </table>
            </div>
            {% else %}
            <div style="width: 1000px;margin: 0 auto;">
	            		没有充值记录
            </div>
            {% endif %}
        </div>
    </div>
    <!-- /block -->
</div>
<script type="text/javascript">
	function play(el){
		var select_free = $('#select_free').val();
		var href="/mc/pay?total=" +select_free;
		$(el).attr('href',href);
		return true;
	}
	
</script>
{% endblock %} 