{% extends "mc/base.html" %}

{% block body_id %}id="main_index" {% endblock %} 
{% block container %} 
    {% include "mc/_head.html" %} 
    {% include "mc/_info.html" %} 
    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">商品列表</div>
        </div>
        <div class="block-content collapse in">
            <div class="span12">
				<table class="table">
	              <thead>
	                <tr>
	                  <th>#</th>
	                  <th>类别</th>
	                  <th>小图</th>
	                  <th>标题</th>
	                  <th>介绍</th>
	                  <th>显示出价</th>
	                  <th>最低价格</th>
	                  <th>操作</th>
	                </tr>
	              </thead>
	              <tbody>
	              	{% for data in datas %}
	                <tr class="{{ loop.cycle('success', 'error','info') }}">
	                  <td width="30">{{ loop.index }}</td>
	                  <td width="100">{{ data.catalog.name }}</td>
	                  <td width="100"><img src="{{ data.icon_smaill }}" width="100" /> </td>
	                  <td width="100">{{ data.title }}</td>
	                  <td>{{ data.descrip}}</td>
	                  <td width="60">￥{{ data.get_show_fee() }}</td>
	                  <td width="60">￥{{ data.get_acept_fee() }}</td>
	                  <td width="160">
	                  	<a class="btn" href="/mc/product/del/{{ data.id }}" onclick="return delete_item(this)">删除</a>
	                  </td>
	                </tr>
	                {% endfor %}
	              </tbody>
	            </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    	function delete_item(){
    		if(confirm('确定删除吗？')){return true;}
    		return false;
    	};
    </script>
{% endblock %} 