<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>邦办管家</title>
		<link rel="stylesheet" href="/static/css/jquery.mobile-1.3.1.min.css" />
		<script type="text/javascript" src="/static/common/jquery.js"></script>
		<script type="text/javascript" src="/static/common/jquerymobile.js"></script>
		<script type="text/javascript" src="/static/common/iscroll.js"></script>
		<script type="text/javascript" src="/static/common/fastbutton.js"></script>
		<script type="text/javascript" src="/static/common/jquery_ext_fastbutton.js"></script>
		<script type="text/javascript" src="/static/common/cordova.js"></script>
	</head>
	<body class="body">
		<div data-role="page" id="loading">
			<div class="tc padt_15">
				loading........
			</div>
		</div>
		<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
		
		<script type="text/javascript">
			var jQ = $;
			function ajaxsend(url,data,type,success,error,beforeSend){
				$.ajax({
			        url:url,
			        data:data,
			        datatype:"json",
			        type:type||'post',
			        success:function (e) {
						if(success){success(e)}
					},
			        error: function(e){
			        	if(error){error(e)}
			        },
			        beforeSend: function(){
			        	if(beforeSend){beforeSend(e)}
			        }
			    })
			}
			$('#loading').fastClick(function(){
				window.location.reload();
			})
			$(function(){
				if(navigator.onLine){
					var url="/static/js/test.json";
					ajaxsend(url,{},'get',function(){},function(){
						$('#loading .padt_15').html('点击屏幕，重新加载');
					})
				}else{
					alert('连接失败，请检查网络');
					window.location.reload();
				}
			})
		</script>
	</body>
</html>