<div data-role="page" id="choose_item" class="bg">
	<div data-role="header"  data-theme="me">
		<div class="horizontal">
			<div class="header_b">
				<a class="back" href="javascript:void(0)" ></a>
			</div>
			<div class="tc header_m box_flex1">
				<h1>去交易</h1>
			</div>
			<div class="header_a"></div>
		</div>
	</div>
	<div>
		<img src="../data/item.jpg" width="100%" />
	</div>
	<div class="blank0"></div>
	<div class="pad15 bg1">
		<div class="item_p horizontal" >
			<div class="item_p_b">
				<div class="f14 col5 fb">市场参考价</div>
				<div class="col2 pt_bom"><span class="f14 fb">￥</span><span class="f18 fb">478</span></div>
			</div>
			<div class="item_p_m box_flex1 col3 fb pr" style="height: 45px;">
					<span  class="pt_bom">
						420640人成功交易
					</span>
			</div>
			<div class="item_p_a pr" style="height: 45px;">
				<span class="f14 col5 fb">我的报价</span>
				<div class="col7 pt_bom" ><span class="f14 col7 fb">￥</span><span class="f18 col7 fb">478</span></div>
			</div>
		</div>
	</div>
	<div class="line_top"></div>
	<div class="reply_list">
		<div class="col4">回应的商家</div>
		<div class="reply_item horizontal">
			<div class="tl" style="width: 68px;">
				<img src="../data/shop_logo.png" class="me_list" width="58" />
			</div>	
			<div class="box_flex1">
				<div class="col5">
					<span class="fb marr_10">元祖饼店</span>
					<span class=""></span>
					<span>300</span>
				</div>
				<div class="col6 f12" style="height:25px;overflow:hidden;">
					元祖是专注于食品礼品业著名的。。。
				</div>
				<div class=" f0">
					<div class="fl" style="width: 80px;">
						<img src="../images/call.png"  width="14" class="marr1 mart1 fl" />
						<span class="f14 fl">和他联系</span>
					</div>
					<div class="fl" style="width: 80px;">
						<img src="../images/delete.png"  width="14" class="marr1 mart1 fl" />
						<span class="f14 fl">淘汰此店</span>
					</div>
					<div class="fl" style="width: 80px;">
						<img src="../images/like.png"  width="14" class="marr1 mart1 fl" />
						<span class="f14 fl">备用收藏</span>
					</div>
					<div class="blank0"></div>
				</div>
			</div>
		</div>
		<div class="sham_line"></div>
	
		<div class="reply_item horizontal">
			<div class="tl" style="width: 68px;">
				<img src="../data/shop_logo.png" class="me_list" width="58" />
			</div>	
			<div class="box_flex1">
				<div class="col5">
					<span class="fb marr_10">元祖饼店</span>
					<span class=""></span>
					<span>300</span>
				</div>
				<div class="col6 f12" style="height:25px;overflow:hidden;">
					元祖是专注于食品礼品业著名的。。。
				</div>
				<div class=" f0">
					<div class="fl" style="width: 80px;">
						<img src="../images/call.png"  width="14" class="marr1 mart1 fl" />
						<span class="f14 fl">和他联系</span>
					</div>
					<div class="fl" style="width: 80px;">
						<img src="../images/delete.png"  width="14" class="marr1 mart1 fl" />
						<span class="f14 fl">淘汰此店</span>
					</div>
					<div class="fl" style="width: 80px;">
						<img src="../images/like.png"  width="14" class="marr1 mart1 fl" />
						<span class="f14 fl">备用收藏</span>
					</div>
					<div class="blank0"></div>
				</div>
			</div>
		</div>
		<div class="sham_line"></div>
	</div>
</div>