<div data-role="page" id="decide_list" class="bg">
	<div data-role="header"  data-theme="me">
		<div class="horizontal">
			<div class="header_b">
				<a class="back" href="javascript:void(0)" ></a>
			</div>
			<div class="tc header_m box_flex1">
				<h1>选商家</h1>
			</div>
			<div class="header_a"></div>
		</div>
	</div>
	<div id="decide_list_wrapper">
		<div class="scroller">
		{% if datas %}
		<ul class="thelist item_list">
			{% for data in datas %}
			{% if  data.product %}
			<li class="item horizontal me_tap" me_event="gopage" me_data='decide_item/{{ data.id }}'>
				<div class="item_img">
					<img src="{{ data.product.icon_smaill }}" />
				</div>
				<div class="box_flex1 item_des pr">
					<div class="fb padt_10">{{ data.product.title }}</div>
					<div class="pr padt_5">
						<div class="fl f18 col2 padt_2">￥{{ data.product.show_fee }}</div>
						<div class="fl f16 col3 t_line padt_5">￥{{ data.product.acept_fee }}</div>
						{% if  data.replys %}
							<div class="fr marr_10 col3  padt_5">{{  data.replys|length  }}个商户回复</div>
						{% else %}
							<div class="fr marr_10 col3  padt_5">等待商户回复</div>
						{% endif %}
						<div class="blank0"></div>
					</div>
				</div>
			</li>
			{% else %}
			<li class="item horizontal me_tap" me_event="gopage" me_data='decide_item/{{ data.id }}'>
				<div class="item_img">
					<img src="{{ data.product.icon_smaill }}" />
				</div>
				<div class="box_flex1 item_des pr">
					<div class="fb padt_10">{{ data }}</div>
					<div class="pr padt_5">
						<div class="fl f18 col2 padt_2">￥{{ data.product.show_fee }}</div>
						<div class="fl f16 col3 t_line padt_5">￥{{ data.product.acept_fee }}</div>
						{% if  data.replys %}
							<div class="fr marr_10 col3  padt_5">{{  data.replys|length  }}个商户回复</div>
						{% else %}
							<div class="fr marr_10 col3  padt_5">等待商户回复</div>
						{% endif %}
						<div class="blank0"></div>
					</div>
				</div>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		{% else %}
		<div class="tc f30">没有需要处理的交易</div>
		{% endif %}
		</div>
	</div>
</div>