<div data-role="page" id="sell_list" class="bg">
	<div data-role="header"  data-theme="me">
		<div class="horizontal">
			<div class="header_b">
				<a class="back" href="javascript:void(0)" ></a>
			</div>
			<div class="tc header_m box_flex1">
				<h1>购买(开发中)</h1>
			</div>
			<div class="header_a"></div>
		</div>
	</div>
	<div data-role="content" class="tc f0">
		<img src="/static/data/sell_top.png" width="290" height="100px" class="me_list" />
	</div>
	<div id="sell_list_wrapper">
		<div class="scroller">
		<ul class="thelist">
			<li class="item horizontal me_tap" me_event="gopage" me_data='item_detail'>
				<div class="item_img tr box_flex1 " style="padding-right: 8px;">
					<img src="/static/data/sell_2.png" class="me_list" style="height: 100px;width: 135px" />
				</div>
				<div class="item_img tl box_flex1" style="padding-left: 8px;">
					<img src="/static/data/sell_1.png" class="me_list" style="height: 100px;width: 135px" />
				</div>
			</li>
			<li class="item horizontal me_tap" me_event="gopage" me_data='item_detail'>
				<div class="item_img tr box_flex1 " style="padding-right: 8px;">
					<img src="/static/data/sell_2.png" class="me_list" style="height: 100px;width: 135px" />
				</div>
				<div class="item_img tl box_flex1" style="padding-left: 8px;">
					<img src="/static/data/sell_1.png" class="me_list" style="height: 100px;width: 135px" />
				</div>
			</li>
			<li class="item horizontal me_tap" me_event="gopage" me_data='item_detail'>
				<div class="item_img tr box_flex1 " style="padding-right: 8px;">
					<img src="/static/data/sell_2.png" class="me_list" style="height: 100px;width: 135px" />
				</div>
				<div class="item_img tl box_flex1" style="padding-left: 8px;">
					<img src="/static/data/sell_1.png" class="me_list" style="height: 100px;width: 135px" />
				</div>
			</li>
			<li class="item horizontal me_tap" me_event="gopage" me_data='item_detail'>
				<div class="item_img tr box_flex1 " style="padding-right: 8px;">
					<img src="/static/data/sell_2.png" class="me_list" style="height: 100px;width: 135px" />
				</div>
				<div class="item_img tl box_flex1" style="padding-left: 8px;">
					<img src="/static/data/sell_1.png" class="me_list" style="height: 100px;width: 135px" />
				</div>
			</li>
			<li class="item horizontal me_tap" me_event="gopage" me_data='item_detail'>
				<div class="item_img tr box_flex1 " style="padding-right: 8px;">
					<img src="/static/data/sell_2.png" class="me_list" style="height: 100px;width: 135px" />
				</div>
				<div class="item_img tl box_flex1" style="padding-left: 8px;">
					<img src="/static/data/sell_1.png" class="me_list" style="height: 100px;width: 135px" />
				</div>
			</li>
			<li class="item horizontal me_tap" me_event="gopage" me_data='item_detail'>
				<div class="item_img tr box_flex1 " style="padding-right: 8px;">
					<img src="/static/data/sell_2.png" class="me_list" style="height: 100px;width: 135px" />
				</div>
				<div class="item_img tl box_flex1" style="padding-left: 8px;">
					<img src="/static/data/sell_1.png" class="me_list" style="height: 100px;width: 135px" />
				</div>
			</li>
			<li class="item horizontal me_tap" me_event="gopage" me_data='item_detail'>
				<div class="item_img tr box_flex1 " style="padding-right: 8px;">
					<img src="/static/data/sell_2.png" class="me_list" style="height: 100px;width: 135px" />
				</div>
				<div class="item_img tl box_flex1" style="padding-left: 8px;">
					<img src="/static/data/sell_1.png" class="me_list" style="height: 100px;width: 135px" />
				</div>
			</li>
		</ul>
		<div id="pullUp">
			<span class="pullUpIcon"></span><span class="pullUpLabel">Pull up to refresh...</span>
		</div>
		</div>
	</div>
	<div class="footer" style="overflow:hidden">
		<div style="padding: 10px;" class="horizontal">
			<div class="col1 pr" style="width: 75px;height: 30px;">
				<div class="p_bottom">
					信用基金
				</div>
			</div>
			<div class="box_flex1 col2 f30" style="width: 75px;">35，686</div>
			<div class=" me_tap" me_event="gopage" me_data='help'  style="width: 110px;">
				<div class="button_01">
					怎么获取
				</div>
			</div>
		</div>
	</div>
</div>