<!DOCTYPE html>
<html>
  <head>
    <title>欢迎</title>
  </head>
  <style type="text/css">
  	*{margin: 0;padding: 0;}
  	html,body{width: 100%;min-width: 1000px;}
  </style>
  <body>
  	<div style="background:url('/static/welcome/download_01.png') no-repeat center center;width: 100%;height: 363px;position:relative;">
  		<a href="/mc" style="position:absolute;top:20px;right: 100px;text-decoration:none; color:#FFFFFF;">
  			商户登录
  		</a>
  	</div>
  	<div style="background:url('/static/welcome/download_02.png') no-repeat center center;width: 100%;height: 304px;position:relative;">
  				<div  style="width: 385px;height: 185px;display:inline-block;position:absolute;top:80px;left:50%;margin-left: 85px; color:#404040; font-size: 18px;font-weight:bold;line-height: 150%;">
  					邦办手机管家是由三方合作，邦办网，科技
					与成都电视台共同推出的全新手机App模式。打
					破消费者消费习惯，以个人在手机App平台发布
					需求，符合条件的商家与其主动联
					
					系，提供一对
					一贴心服务，把目前的电子商务商业模式反向倒
					推，以“需”为主。

  				</div>
  		
  	</div>
  	<div style="background:url('/static/welcome/download_03.png') no-repeat center center;width: 100%;height: 350px;position:relative;">
  		<a target="_blank"  href="http://itunes.apple.com/us/genre/mobile-software-applications/id36?mt=8" style="width: 225px;height: 55px;display:inline-block;position:absolute;top:-10px;left:50%;margin-left: 80px;">
  		</a>
  		<a href="/app" target="_blank" style="width: 225px;height: 55px;display:inline-block;position:absolute;top:80px;left:50%;margin-left: 80px;">
  		</a>
  		<div style="width: 185px;height: 185px;display:inline-block;position:absolute;top:-30px;left:50%;margin-left: 330px;"><img src="/static/images/app_qrcode.png" /></div>
  	</div>
  	<div style="font-size: 14px;line-height: 200%;font-weight:bold;font-family: '微软雅黑'">
  	<div style="background-color:#FFFFFF;">
  		<div style="width: 950px;margin: 0 auto;">
  			<div style="width:410px;float:left;padding: 30px 0;">
  				<div class="title">
  					<img src="/static/welcome/1.jpg" />
  				</div>
  				<div>
  					成都广播电视台是中国西部和全国省会城市广播电视中的强势主流
					媒体之一，广播拥有新闻广播、交通广播、经济广播、文化休闲广
					播四个频率和一个网络广播，电视拥有新闻综合频道、经济咨询服
					务频道、都市生活频道、影视文艺频道、公共频道、少儿频道等六
					个模拟频道，美食天府频道、每日电视购物频道、移动公交电视三
					个数字电视频道，多角度、全方位、展示成都政治、经济、文化生
					活的方方面面，全天播出时间累计达到215小时，信号覆盖成都以
					及周边 地区 3 万多平方公里，覆盖人口达3000多万人。<br />
					由成都电视台第二频道推出的TV摇摇乐自7月上线以来，已经达到
					几十万用户，是一款非常成功的手机APP软件。而邦办管家手机
					APP是成都电视台重点打造的一款全新的C2B个人对商家的商业模
					式软件，是一款前景非常光明的软件。
  				</div>
  			</div>
  			<div style="width:410px;float:right;padding: 30px 0;">
  				<div class="title">
  					<img src="/static/welcome/2.jpg" />
  				</div>
  				<div>
  					

  				</div>
  			</div>
  			<div style="clear:both;"></div>
  		</div>
  	</div>
  	
  	<div style="background-color:#fbe4e2;">
  		<div style="width: 950px;margin: 0 auto;">
  			<div style="width:410px;float:left;padding: 30px 0;">
  				<div class="title"><img src="/static/welcome/3.jpg" /></div>
  				<div>
  					因为邦办管家这款手机APP面向的高端用户群体，由成都电视台的
					收视率报告中体现出，高端用户的收视时间是从晚间11点开始，所
					以我们的广告宣传都选在11点过后。<br>
					（一）、栏目<br>
					《蓉橙生活帮》栏目：CDTV-5  周一至周五每晚11：00<br>
					在该节目中，上游动字幕，每晚两次。刊例价为3万元/月。<br>
					<br />
					（二）、成都电视台硬广<br>
					<br />
					CDTV-1<br>
					C6-2  《联播大成都》 23:45-23:47 3700  15秒<br>
					D5  《联播大成都》 00:00-00:03 3300  15秒<br>
					C7-3  《夜剧场》     02:42-02:48 1900  15秒<br>
					C7-4  《夜剧场》）    03:42-03:49 1500  15秒<br>
					<br />
					CDTV-4<br />
					C8-2  《黄金海岸剧场》 23:55-23:59 3500  15秒<br>
					D3  《黄金海岸剧场》 00:00-00:03 3500  15秒<br>
					C9-1  《娱乐818》     00:05-00:08 3400  15秒<br>
					D4  《娱乐818》     00:30-00:33  3100  15秒<br>
					刊例价总计23900元/日<br>
  				</div>
  			</div>
  			<div style="width:410px;float:right;padding: 30px 0;">
  				<div class="title"><img src="/static/welcome/4.jpg" /></div>
  				<div>
  					<ul style="list-style:decimal;">
  						<li>
  							资金占有：所有进驻平台的供应商，均需按照所属行业类别缴纳
		     				相应保证金，此部分资金在合同期限内将一直为我方持有。如合
							     同到期不再续签，保证金将在合同到期后30个工作日内退还供应
							     商。<br />
							     首批商家 将享受免费进驻优惠政策。商家注册后，赠送一级分类
							     下及一级分类下的两个二级分类，如需多增加一个二级分类另加
							     收100元二级分类开通费。<br />
							     后续商家进驻注册费用为：服务类10000元（包含家政、母婴、
							     保健），教育类10000元（包含学前及学龄文化培训、技术学院
							     培训、艺术培训、特长培训等）。金融类100000元。商家注册后，
							     系统自带一个一级分类下的一个二级分类，如需多增加一个一级
							     分类加收500元分类开通费，多增加一个二级分类加收100元分类
							     开通费。
  						</li>
  						<li>
  							业务佣金：每一个供应商都可以参与对所属行业的任何一个消费
						     者的需求满足，一旦供应商与消费者达成交易，平台方将按相应
						     比例从供应商保证金中扣除业务佣金。若供应商与消费者未达成
						     交易或交易失败，平台方都不会扣取佣金。扣除的佣金将以信誉
						     基金的方式返还给消费者，消费者持信誉基金可再次进行消费。
						     1分信誉基金与1元人名币等值。<br />
						     手机及数码类每台/件提10元，母婴提售价的15%，旅游提售价的
						     10%，家政提售价的15%，教育提售价的20%，保健提售价的15%。
  						</li>
  					</ul>
  				</div>
  			</div>
  			<div style="clear:both;"></div>
  		</div>
  	</div>
  	
  	<div style="background-color:#FFFFFF;">
  		<div style="width: 950px;margin: 0 auto;">
  			<div style="width:410px;float:left;padding: 30px 0;">
  				<div class="title"><img src="/static/welcome/5.jpg" /></div>
  				<div>
  					帐号注册 > 买家发布需求 > 卖家缴纳服务保证金后查阅需求信息
					 > 卖家选中需求确认提供服务意愿 > 买家选中一家卖家(单选)
					 > 卖家与买家达成交易 > 买家付款 > 卖家确认交易完成并对买家<br />
					打分.  <br />
					<br />
					 基本功能： 比价、消费能力分析、定评需求。
					<br />
					1、下载邦办管家，注册帐号（本人手机号）设置密码（不少于6位数）<br />
					2、查看商家服务产品，以价格人气高低选择，报价，议价，交易。<br />
					3、直接发布需求价格，选择商家，进行议价，交易。<br />
					4、比价，交易成功把自己交易的价格发布进行晒价格<br />

  				</div>
  			</div>
  			<div style="width:410px;float:right;padding: 30px 0;">
  				<div class="title"><img src="/static/welcome/6.jpg" /></div>
  				<div>
  					帐号注册 > 买家发布需求 > 卖家缴纳服务保证金后查阅需求信息
					 > 卖家选中需求确认提供服务意愿 > 买家选中一家卖家(单选) >卖
					家与买家达成交易 >  买家付款 > 卖家确认交易完成并对买家打分.<br />
					<br />
					1、注册账户，进入页面用手机号码注册，设置不少于六位数的密码<br />
					2、输入注册成功的账号登录<br />
					3、进入一级分类后，选择所需的二级分类<br />
					4、添加商品列表，发布信息<br />
					5、查看用户申请<br />
					6、与申请用户议价，达成或取消交易<br />
  				</div>
  			</div>
  			<div style="clear:both;"></div>
  		</div>
  	</div>
  	
  	</div>
  	<div style="height: 80px;background-color: #e74c3c;text-align:center;line-height: 80px;color:#FFFFFF;">
  		© 2013 邦办管家. 保留所有权利
  	</div>
  </body>
</html>