<div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/admin">管理后台</a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i>{{ admin_user.name }}<i class="caret"></i>
                            </a>
                            <ul class="dropdown-menu">
                            	<li>
						            <a href="/admin/index">基本信息</a>
						        </li>
                                <li>
                                    <a tabindex="-1" onclick="return login_out()" href="/admin/logout">退出登录</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav">
	                    {% if admin_user.name == 'admin' %}
                        <li class=" {% if '/admin_user' in  request.url %}active{% endif %}">
	                        <a href="/admin/admin_user" >管理员设置</a>
	                    </li>
                        {% endif %}
                        <li class=" {% if '/mc_user' in  request.url %}active{% endif %}">
	                        <a href="/admin/mc_user" >商家管理</a>
	                    </li>
	                    <li class=" {% if '/cu_user' in  request.url %}active{% endif %}">
	                        <a href="/admin/cu_user" >用户管理</a>
	                    </li>
	                    <li class="{% if '/catalog' in  request.url %}active{% endif %}">
	                        <a href="/admin/catalog" >频道管理</a>
	                    </li>
	                    <li class=" {% if '/statistics' in  request.url %}active{% endif %}">
	                        <a href="/admin/statistics/mc" >统计</a>
	                    </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>