<div id="sidebar" class="span3">
    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
        <li class="{% if 'statistics/mc' in  request.url %}active{% endif %}">
            <a href="/admin/statistics/mc"><i class="icon-chevron-right"></i>商家统计</a>
        </li>
        <li class="{% if 'statistics/cu' in  request.url %}active{% endif %}">
            <a href="/admin/statistics/cu"><i class="icon-chevron-right"></i>用户统计</a>
        </li>
        <li class="{% if 'statistics/su' in  request.url %}active{% endif %}">
            <a href="/admin/statistics/su"><i class="icon-chevron-right"></i>成交量统计</a>
        </li>
    </ul>
</div>