{% extends "admin/base.html" %}

{% block body_id %}id="main_index" {% endblock %} 
{% block container %} 
{% include "admin/_head.html" %} 
<div class="container-fluid">
<div class="row-fluid">
    <div id="sidebar" class="span3">
	    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
	        <li class="{% if cu_catalog == 0 %} active {% endif %} ">
	            <a href="/admin/catalog"><i class="icon-chevron-right"></i>添加频道</a>
	        </li>
	        {% for catalog in catalogs %}
	        <li class="{% if cu_catalog == catalog.id %} active {% endif %}">
	            <a href="/admin/catalog?catalog={{ catalog.id }}">
	            	<i class="icon-chevron-right"></i>{{ catalog.name }}
	            </a>
	        </li>
	        {% endfor %}
	    </ul>
	</div>
    <div class="span9" id="content">
    	<div class="span12">
    		{% if cu_catalog == 0 %}
	        <div class="block">
	            <div class="block-content collapse in">
	            	{% if vid == 0%}
	               <legend>添加频道</legend>
	               {% else %}
	               <legend>修改频道</legend>
	               {% endif %}
	            	{% include "mc/_info.html" %} 
	               <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" >
	               	
	               	  <label class="control-label" for="focusedInput">频道名</label>
		              <div class="controls">
		                <input class="input-xlarge focused"  type="text" name="name" maxlength="11" value="{{ catalog.name }}">
		              </div>
		              <label class="control-label" for="focusedInput">说明</label>
		              <div class="controls">
		                <input class="input-xlarge focused"  type="text" name="descp" value="{{ catalog.descp }}">
		              </div>
		              <label class="control-label" for="focusedInput">小图标</label>
		              <div class="controls">
		              	<input class="input-xlarge focused" for_ref="icon_smaill" style=" margin: 5px;" type="file"  name="icon_smaill" value="">
		              </div>
		              <label class="control-label" for="focusedInput">大图标</label>
		              <div class="controls">
		              	<input class="input-xlarge focused" for_ref="icon_large" style=" margin: 5px;" type="file"  name="icon_large" value="">
		              </div>
		              <div class="blank10"> </div>
		              <label class="control-label" for="focusedInput">排序</label>
		              <div class="controls">
		                <input class="input-xlarge focused"  type="text" name="idx" value="{{ catalog.idx or 0 }}">
		              </div>
		              <div class="controls">
		                 <button style="width: 140px;" class="btn btn-large btn-primary fl" type="submit">保存</button>
			        	 <div class="blank0"> </div>
		              </div>
	               </form>
	            </div>
	        </div>
	        {% else %}
	        {% include "mc/_info.html" %} 
	        <div class="block">
			        <div class="navbar navbar-inner block-header">
			            <a class="btn pull-left " href="/admin/catalog/{{ cu_catalog }}/update">修改父频道</a>
			            <a class="btn pull-right btn-danger" href="/admin/catalog/{{ cu_catalog }}">添加子频道</a>
			        </div>
			        <div class="block-content collapse in">
			            <div class="span12">
							<table class="table">
				              <thead>
				                <tr>
				                  <th>#</th>
				                  <th>子频道</th>
				                  <th>拼音</th>
				                  <th>介绍</th>
				                  <th>小图标</th>
				                  <th>大图标</th>
				                  <th>操作</th>
				                </tr>
				              </thead>
				              <tbody>
				              	{% for subcatlog in subcatlogs %}
				                <tr class="{{ loop.cycle('success', 'error','info') }}">
				                  <td width="30">{{  subcatlog.idx }}</td>
				                  <td width="150">{{ subcatlog.name }}</td>
				                  <td width="60">{{ subcatlog.pingying }}</td>
				                  <td>{{ subcatlog.descp}}</td>
				                  <td width="100">
				                  	<img src="{{ subcatlog.get_img() }}" style="width: 50px;" />
				                  </td>
				                  <td width="100">
				                  	<img src="{{ subcatlog.icon_large }}" style="width: 50px;" />
				                  </td>
				                   <td width="120">
				                   	<a class="btn btn-info" href="#myModal_{{ subcatlog.id }}" data-toggle="modal">删除</a>
				                   	<div id="myModal_{{ subcatlog.id }}" class="modal hide fade" tabindex="-1" role="dialog"  aria-hidden="true">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h3 >提示</h3>
										</div>
										<div class="modal-body">
											<p>删除频道后，相关商品以及所有的成交记录都会被删除</p>
											<p>确定删除?</p>
										</div>
										<div class="modal-footer">
											<a class="btn btn-primary" href="/admin/subcatlog/{{ subcatlog.id  }}/del">删除</a>
											<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
										</div>
									</div>
									<a class="btn btn-danger" href="/admin/subcatlog/{{ subcatlog.id  }}/update">修改</a>
				                   </td>
				                </tr>
				                {% endfor %}
				              </tbody>
				            </table>
			            </div>
			        </div>
					<div class="navbar navbar-inner block-header">
			            <a class="btn pull-right btn-info" href="#myModal" data-toggle="modal">删除所有频道</a>
						<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog"  aria-hidden="true">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h3 >提示</h3>
							</div>
							<div class="modal-body">
								<p>删除所有子频道后，父频道也会别删除，相关商品以及所有的成交记录都会被删除</p>
								<p>确定删除?</p>
							</div>
							<div class="modal-footer">
								<a class="btn btn-primary" href="/admin/catalog/{{ cu_catalog }}/del">删除</a>
								<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
							</div>
						</div>
			        </div>
			</div>
	        {% endif %}
	        <!-- /block -->
	    </div>
    </div>
</div>
</div>
{% endblock %} 