{% extends "mc/base.html" %}

{% block body_id %}id="main_index" {% endblock %} 
{% block container %} 
{% include "admin/_head.html" %} 
<div class="container-fluid">
<div class="row-fluid">
	{% include "mc/_info.html" %} 
    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">
            	用户列表
            </div>
        </div>
        <div class="block-content collapse in">
            <div class="span12">
				<table class="table">
	              <thead>
	                <tr>
	                  <th>#</th>
	                  <th>名字</th>
	                  <th>电话</th>
	                  <th>需求总数</th>
	                  <th>成功次数</th>
	                  <th>基金余额</th>
	                  <th>注册日期</th>
	                  <th>操作</th>
	                </tr>
	              </thead>
	              <tbody>
	              	{% for data in datas %}
	                <tr class="{{ loop.cycle('success','info') }}">
	                  <td width="30">{{ loop.index }}</td>
	                  <td width="100">{{ data.name }}</td>
	                  <td width="100">{{ data.mobile}}</td>
	                  <td width="60">{{ data.publish_count }}</td>
	                  <td width="160">{{  data.success_count  }}</td>
	                  <td width="160">{{  data.current_fee  }}</td>
	                  <td width="">{{  data.create_time  }}</td>
	                  <td width="160">
	                  	{% if data.status %}
	                  	  <a href="#myModal_{{ data.id }}" role="button" class="btn btn-info" data-toggle="modal">禁止登录</a>
		                  <div id="myModal_{{ data.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_{{ data.id }}" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h3 id="myModalLabel_{{ data.id }}">提示:</h3>
								</div>
								<div class="modal-body">
									<p>是否禁止用户登录?</p>
								</div>
								<div class="modal-footer">
								<a class="btn btn-primary"  href="/admin/cu_user/{{ data.id }}/disable">确定</a>
								<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
								</div>
							</div>
						{% else %}
						  <a href="#myModal_{{ data.id }}" role="button" class="btn btn-danger" data-toggle="modal">开启登录</a>
		                  <div id="myModal_{{ data.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_{{ data.id }}" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h3 id="myModalLabel_{{ data.id }}">提示:</h3>
								</div>
								<div class="modal-body">
									<p>是否开启用户登录?</p>
								</div>
								<div class="modal-footer">
								<a class="btn btn-primary"  href="/admin/cu_user/{{ data.id }}/able">确定</a>
								<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>	
						{% endif %}
	                  	</td>
	                </tr>
	                {% endfor %}
	              </tbody>
	            </table>
            </div>
        </div>
    </div>
    <!-- /block -->
</div>
</div>
{% endblock %} 