{% extends "mc/base.html" %}

{% block body_id %}id="main_index" {% endblock %} 
{% block container %} 
{% include "admin/_head.html" %} 
{% include "mc/_info.html" %} 
<div class="container-fluid">
    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">首页公告</div>
            <a class="btn pull-right " href="#myModal_2" data-toggle="modal" >添加公告</a>
            <div id="myModal_2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_2" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel_2">添加公告:</h3>
				</div>
				<div class="modal-body">
						<table >
							<tr>
								<td style="width: 150px; text-align:center;">公告内容</td>
								<td>
									<textarea id="name_1" name="name"></textarea>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="text-align:center;">
									<input class="btn btn-primary" onclick="send_name(this,1)"  type="submit" style="height: 30px;width: 150px;margin: 10px 0 0;" value="提交" />
								</td>
							</tr>
						</table>
				</div>
				<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>	
        </div>
        <div class="block-content collapse in">
            <div class="span12">
				<table class="table able-striped table-bordered" id="example">
	              <thead>
	                <tr>
	                  <th>#</th>
	                  <th>内容</th>
	                  <td >时间</td>
	                  <th >操作</th>
	                </tr>
	              </thead>
	              <tbody>
	              	{% for data in datas %}
	                <tr class="{{ loop.cycle('success', 'error','info') }}">
	                  <td width="30">{{ loop.index }}</td>
	                  <td width="">{{ data.name }}</td>
	                  <td width="160">{{ data.create_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
	            
	                  <td width="160">
	                  	<a class="btn" href="/admin/notice/del/{{ data.id }}" onclick="return delete_item(this)">删除</a>
	                  </td>
	                </tr>
	                {% endfor %}
	              </tbody>
	            </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    	function delete_item(){
    		if(confirm('确定删除吗？')){return true;}
    		return false;
    	};
    </script>
    <script src="/static/common/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

function send_name(el,vid){
		var obj = $('#name_'+vid);
		if(!obj.val()){
			alert('内容不能为空');
			return false;
		}
		$(el).hide();
		$.post('/admin/notice/0',{name:obj.val()},function(data){
				$(el).show();
				alert('提交成功');
				window.location.reload();
		},'json');
		
	}

/* API method to get paging information */
$.fn.dataTableExt.oApi.fnPagingInfo = function ( oSettings )
{
	return {
		"iStart":         oSettings._iDisplayStart,
		"iEnd":           oSettings.fnDisplayEnd(),
		"iLength":        oSettings._iDisplayLength,
		"iFilteredTotal": oSettings.fnRecordsDisplay(),
		"iPage":          oSettings._iDisplayLength === -1 ?
			0 : Math.ceil( oSettings._iDisplayStart / oSettings._iDisplayLength ),
		"iTotalPages":    oSettings._iDisplayLength === -1 ?
			0 : Math.ceil( oSettings.fnRecordsDisplay() / oSettings._iDisplayLength )
	};
};


/* Bootstrap style pagination control */
$.extend( $.fn.dataTableExt.oPagination, {
	"bootstrap": {
		"fnInit": function( oSettings, nPaging, fnDraw ) {
			var oLang = oSettings.oLanguage.oPaginate;
			var fnClickHandler = function ( e ) {
				e.preventDefault();
				if ( oSettings.oApi._fnPageChange(oSettings, e.data.action) ) {
					fnDraw( oSettings );
				}
			};

			$(nPaging).addClass('pagination').append(
				'<ul>'+
					'<li class="prev disabled"><a href="#">&larr; '+oLang.sPrevious+'</a></li>'+
					'<li class="next disabled"><a href="#">'+oLang.sNext+' &rarr; </a></li>'+
				'</ul>'
			);
			var els = $('a', nPaging);
			$(els[0]).bind( 'click.DT', { action: "previous" }, fnClickHandler );
			$(els[1]).bind( 'click.DT', { action: "next" }, fnClickHandler );
		},

		"fnUpdate": function ( oSettings, fnDraw ) {
			var iListLength = 5;
			var oPaging = oSettings.oInstance.fnPagingInfo();
			var an = oSettings.aanFeatures.p;
			var i, ien, j, sClass, iStart, iEnd, iHalf=Math.floor(iListLength/2);

			if ( oPaging.iTotalPages < iListLength) {
				iStart = 1;
				iEnd = oPaging.iTotalPages;
			}
			else if ( oPaging.iPage <= iHalf ) {
				iStart = 1;
				iEnd = iListLength;
			} else if ( oPaging.iPage >= (oPaging.iTotalPages-iHalf) ) {
				iStart = oPaging.iTotalPages - iListLength + 1;
				iEnd = oPaging.iTotalPages;
			} else {
				iStart = oPaging.iPage - iHalf + 1;
				iEnd = iStart + iListLength - 1;
			}

			for ( i=0, ien=an.length ; i<ien ; i++ ) {
				// Remove the middle elements
				$('li:gt(0)', an[i]).filter(':not(:last)').remove();

				// Add the new list items and their event handlers
				for ( j=iStart ; j<=iEnd ; j++ ) {
					sClass = (j==oPaging.iPage+1) ? 'class="active"' : '';
					$('<li '+sClass+'><a href="#">'+j+'</a></li>')
						.insertBefore( $('li:last', an[i])[0] )
						.bind('click', function (e) {
							e.preventDefault();
							oSettings._iDisplayStart = (parseInt($('a', this).text(),10)-1) * oPaging.iLength;
							fnDraw( oSettings );
						} );
				}

				// Add / remove disabled classes from the static elements
				if ( oPaging.iPage === 0 ) {
					$('li:first', an[i]).addClass('disabled');
				} else {
					$('li:first', an[i]).removeClass('disabled');
				}

				if ( oPaging.iPage === oPaging.iTotalPages-1 || oPaging.iTotalPages === 0 ) {
					$('li:last', an[i]).addClass('disabled');
				} else {
					$('li:last', an[i]).removeClass('disabled');
				}
			}
		}
	}
} );


/*
 * TableTools Bootstrap compatibility
 * Required TableTools 2.1+
 */
if ( $.fn.DataTable.TableTools ) {
	// Set the classes that TableTools uses to something suitable for Bootstrap
	$.extend( true, $.fn.DataTable.TableTools.classes, {
		"container": "DTTT btn-group",
		"buttons": {
			"normal": "btn",
			"disabled": "disabled"
		},
		"collection": {
			"container": "DTTT_dropdown dropdown-menu",
			"buttons": {
				"normal": "",
				"disabled": "disabled"
			}
		},
		"print": {
			"info": "DTTT_print_info modal"
		},
		"select": {
			"row": "active"
		}
	} );

	// Have the collection use a bootstrap compatible dropdown
	$.extend( true, $.fn.DataTable.TableTools.DEFAULTS.oTags, {
		"collection": {
			"container": "ul",
			"button": "li",
			"liner": "a"
		}
	} );
}


/* Table initialisation */
$(document).ready(function() {
	$('#example').dataTable( {
		"sDom": "<'row'<'span6'f>r>t<'row'<'span5'p>>",
		"sPaginationType": "bootstrap",
		"oLanguage": {
			"sLengthMenu": "_MENU_ records per page"
		}
	} );
} );
    </script>
</div>
{% endblock %} 